<mat-horizontal-stepper #stepper linear class="disableStepperHead" >
    <mat-step #upload_step>
      <ng-template matStepLabel>Upload Excel</ng-template>
      <ng-container *ngIf="stepper.selected == null || stepper.selected == upload_step">
        <irms-upload-csv-step-global-contact></irms-upload-csv-step-global-contact>
      </ng-container>
    </mat-step>
    <mat-step #map_step>
        <ng-template matStepLabel>Map Fields</ng-template>
        <ng-container *ngIf="stepper.selected == map_step">
          <irms-map-field-step-global-contact [stepperRef]="stepper"></irms-map-field-step-global-contact>
        </ng-container>
    </mat-step>
    <mat-step #validate_step>
      <ng-template matStepLabel>Review Contacts</ng-template>
      <ng-container *ngIf="stepper.selected == validate_step">
        <irms-validate-data-step-global-contact [stepperRef]="stepper"></irms-validate-data-step-global-contact>
      </ng-container>
  </mat-step>
    <mat-step #done_step>
      <ng-template matStepLabel>Done</ng-template>
      <ng-container *ngIf="stepper.selected == done_step">
        <div fxLayout="column" fxLayoutAlign="start center">
          <h2 class="step-heading">Your contacts are added successfully!</h2>
          <img src="../../../../../assets/images/illustration_done.svg" alt="No content"/>
          <div class="row btn-group">
            <button mat-flat-button class="primary-button" [routerLink]="['../']">Go Back</button>
          </div>
        </div>
      </ng-container>
    </mat-step>
  </mat-horizontal-stepper>