<div fxLayout="row" class="tab-content">
    <div fxFlex="20">
        <h1 class="section-heading">Associated Lists</h1>
    </div>
    <div fxFlex="80">
        <div [@animate]="{value:'*',params:{y:'100%'}}" class="listing">
            <div fxLayout="column" fxLayoutAlign="start" class="view-only" fxFlex="70">
                <div fxLayout="row" fxLayoutAlign="center center" fxFlex="1 0 auto"
                    *ngFor="let list of assocList; index as i">
                    <div fxFlex="100" class="value">{{list.listName}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #noValue>
    <div fxFlex="75" class="noValue value">-</div>
</ng-template>