<form [formGroup]="testSmsForm" (ngSubmit)="sendPhoneNumbers()">
    <h2 mat-dialog-title>Test Your SMS </h2>
    <mat-dialog-content fxLayout="column">
        <mat-hint>Test your SMS before sending it to your recipients. You can enter <span class="text-bold">up to 10 phoneNumbers</span></mat-hint>
        <mat-form-field appearance="outline">
            <mat-chip-list #chipList formArrayName="phoneNumbers">
                <mat-chip [ngClass]="(item.invalid)?'warn':'chip1'" selected *ngFor="let item of phoneNumbersList; let i=index" [selectable]="true" [removable]="removable"
                 (removed)="removePhoneNumber(item)" required name="chips">{{item.value}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input placeholder="Enter PhoneNumber" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes " [matChipInputAddOnBlur]="true "
                 (matChipInputTokenEnd)="addPhoneNumber($event) " />
            </mat-chip-list>
        </mat-form-field>
      <mat-error *ngIf="testSmsForm.hasError('incorrectPhoneNumber')">Invalid phone number(s)</mat-error>
      <mat-error *ngIf="testSmsForm.hasError('overflow')">Please enter 10 or less phone numbers</mat-error>
      <mat-error *ngIf="testSmsForm.hasError('noPhoneNumbers')">Enter phone numbers</mat-error>
      <div class="form-field-group" fxLayoutAlign="center center">
        <div fxFlex="10" fxLayoutAlign="center center">
            <mat-icon>info</mat-icon>
        </div>
        <div fxFlex>
          Please note: the default value of tags will be displayed instead of the tag variable if the information for the tag is unavailable.
        </div>
    </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button class="mat-flat-button secondary-button" type="button" (click)="close()">Cancel</button>
        <button class="mat-flat-button primary-button" type="submit" [disabled]="testSmsForm.invalid || phoneNumbersList.length === 0">Send Test PhoneNumber</button>
    </mat-dialog-actions>
</form>