.continue_container {
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
    display: flex;
    
    span {
        vertical-align: middle;
        font-size: 12px;
        color: #55706D;
        margin: 0px 7px;
    }
    .continue_btn {
        height: 40px;
        line-height: 40px;
        padding: 0px 10px;
        font-size: 20px;
        font-weight: 700;
        font-family: inherit;
        margin: 0px;
        cursor: pointer;
        background-color: #52B6AC;
        color: #55706D;        
        border: 0;
        border-radius: 6px;
        background: none;
        box-shadow: none;
        text-align: center;
        vertical-align: middle;
        box-shadow: 0px 2px 8px 1px rgba(0,0,0, 0.2);
        transition: all 0.5s;
        &:hover {
            background-color: #B8F2EC;
        }
    }
}
  
  