.section-heading {
    font-weight: 600;
}
.tab-content {
    padding: 15px;
}

// .mat-form-field-appearance-outline .mat-form-field-outline-thick{
//     color: #f44336 !important;
// }

.mat-form-field-appearance-outline .mat-form-field-outline-thick .error {
    color: #f44336 !important;
}
