<div class="entity-info" fxLayout="row" fxLayoutAlign="start center" fxFlex [routerLink]="[data.id]">
  <div class="info" fxFlex fxLayout="row" fxLayoutAlign="space-between center">
    <p class="list-detail-item" fxFlex>{{data.name}}</p>
    <p class="list-detail-item" fxFlex>{{data.count}}</p>
    <p class="list-detail-item" fxFlex>{{data.importedFrom}}</p>
    <p class="list-detail-item" fxFlex>{{data.importedBy}}</p>
    <p class="list-detail-item" fxFlex>{{data.date | date}}</p>
    <p class="list-detail-item" fxFlex>
      <button mat-icon-button [matMenuTriggerFor]="actionMenu" aria-label="Action" (click)="$event.stopPropagation();">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #actionMenu="matMenu">
        <button mat-menu-item (click)="rename()">
          <mat-icon>edit</mat-icon>
          <span>Rename</span>
        </button>
        <button *ngIf="data.count > 0" mat-menu-item (click)="export()">
          <mat-icon>launch</mat-icon>
          <span>Export</span>
        </button>
        <button mat-menu-item (click)="delete()">
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
        <button *ngIf="data.count > 0" mat-menu-item (click)="addToList(data.id)">
          <mat-icon>add</mat-icon>
          <span>Add to Event Guest List</span>
        </button>
      </mat-menu>
    </p>
  </div>
</div>