<div class="events" fxLayout="row" fxLayoutAlign="start center" (click)="openDetails()">
    <div dir="ltr" class="events" fxFlex fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayoutAlign="start start"><h2>{{data.name}}</h2></div>
        <div fxLayoutAlign="end start"> {{data.status}} </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="column">
          <div fxLayout="row"><span><mat-icon>local_parking</mat-icon>{{data.parking}}</span></div>
          <div fxLayout="row"><span><mat-icon>event_seat</mat-icon>{{data.seat}}</span></div>
          <div fxLayout="row"><span><mat-icon>date_range</mat-icon>{{data.date | date}}</span></div>
        </div>
        <div fxLayout="column" fxLayoutAlign="center end">
          <button mat-icon-button><mat-icon>assignment_returned</mat-icon></button>
        </div>
      </div>
    </div>
  </div> 