<mat-drawer-container [class.drawer-opened]="drawer.opened" class="settings-container">
    <mat-drawer #drawer class="drawer" mode="over">
        <mat-toolbar class="header">
            <h6>QUESTION SETTINGS</h6>
            <button mat-icon-button (click)="drawer.close()">
                <mat-icon class="close">close</mat-icon>
            </button>
        </mat-toolbar>
        <irms-form-builder-question-settings [question]="currentQuestion"></irms-form-builder-question-settings>
    </mat-drawer>
    <mat-drawer-content>
        <div fxLayout="column" fxLayoutAlign="start stretch" fusePerfectScrollbar class="content-section">
            <div class="content-sub-section" fxLayout="column" fxLayoutAlign="start stretch" [formGroup]="welcome">
                <div class="content-type" fxLayout="row" fxLayoutAlign="start center">
                    <span class="type-chip" [ngStyle]="{'background-color': questionColorCode['welcome']}">
                        <mat-icon class="type-icon">{{questionIcon['welcome']}}</mat-icon>Welcome
                    </span>
                </div>
                <div class="question" fxLayout="column" fxLayoutAlign="space-between stretch">
                    <div *ngIf="defaultLanguage == 'en' || languageOption" fxFlex fxLayout="column"
                        fxLayoutAlign="space-between stretch">
                        <editor fxFlex="100" (onClick)="setCurrentEditor('welcome')" [id]="'welcome'"
                            [apiKey]="tinyMceKey" [init]="tinyMceConfig" formControlName="content"></editor>
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <input class="button-input secondary-button" formControlName="button" type='text'
                                (click)="setCurrentEditor('welcome')" placeholder="Button Text">
                        </div>
                    </div>
                    <div *ngIf="defaultLanguage == 'ar' || languageOption" fxFlex fxLayout="column"
                        fxLayoutAlign="space-between stretch">
                        <editor fxFlex="100" (onClick)="setCurrentEditor('welcome')" [id]="'welcomeArabic'"
                            [apiKey]="tinyMceKey" [init]="tinyMceConfig" formControlName="contentArabic"></editor>
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <input class="button-input secondary-button" formControlName="buttonArabic" type='text'
                                (click)="setCurrentEditor('welcome')" placeholder="Button Text">
                        </div>
                    </div>
                </div>
            </div>
            <div class="empty-option" *ngIf="form?.length == 0">
                <mat-icon class="add" [matMenuTriggerFor]="newQuestionTypeDropdown">add_circle_outline</mat-icon>
                <span>Add Question</span>
                <mat-menu #newQuestionTypeDropdown="matMenu" yPosition="below">
                    <button mat-menu-item *ngFor="let type of questionTypeList" (click)="addQuestion(-1,type.type)">
                        <mat-icon class="type-icon" [ngStyle]="{'background': type.colorCode}">{{type.icon}}</mat-icon>
                        <span>{{type.typeTitle}}</span>
                    </button>
                </mat-menu>
            </div>
            <div *ngFor="let question of questions.controls; let i = index" class="content-sub-section"
                fxLayout="column" fxLayoutAlign="start stretch" (click)="setCurrent(question,i)" [formGroup]="question">
                <div class="top" fxLayout="row" fxLayoutAlign="start start">
                    <div class="content-type" fxLayout="row" fxLayoutAlign="start center">
                        <span class="type-chip"
                            [ngStyle]="{'background-color': questionColorCode[question.controls.type.value]}">
                            {{i+1}}.<span *ngIf="question.controls.required.value" class="required">*</span>
                            <mat-icon class="type-icon">{{questionIcon[question.controls.type.value]}}</mat-icon>
                        </span>
                    </div>
                    <div class="question" fxLayout="column" fxLayoutAlign="space-between stretch">
                        <div fxLayout="row" fxLayoutAlign="space-between stretch">
                            <div class="question-english" *ngIf="defaultLanguage === 'en' || languageOption" fxFlex
                                fxLayout="column" fxLayoutAlign="space-between stretch">
                                <textarea autosize formControlName="headline" type='text'
                                    placeholder="Type Question here" (keyup)="checkDuplicates('headline')"></textarea>
                                <textarea autosize formControlName="description" type='text'
                                    placeholder="Question description"></textarea>
                            </div>
                            <div class="question-arabic" fxFlex *ngIf="defaultLanguage == 'ar' || languageOption">
                                <textarea autosize formControlName="headlineArabic" type='text'
                                    placeholder="اكتب السوال هنا"
                                    (keyup)="checkDuplicates('headlineArabic')"></textarea>
                                <textarea autosize formControlName="descriptionArabic" type='text'
                                    placeholder="وصف السؤال"></textarea>
                            </div>
                        </div>
                        <div class="mapping-section" fxLayout="column" fxLayoutAlign="space-between stretch">
                            <h3>Map responses to a field</h3>
                            <mat-hint>Map the survey question and transfer its response to See-U Platform</mat-hint>
                            <div fxLayout="row" fxLayoutAlign="space-between center">
                                <div class="question-indicator" fxLayout="row" fxLayoutAlign="space-between center">
                                    <span class="number">Q{{i+1}}.</span>
                                    <mat-icon>trending_flat</mat-icon>
                                </div>
                                <mat-form-field appearance="outline" fxFlex>
                                    <mat-select [required]="true" formControlName="mapping"
                                        [disabled]="question.value.type == 'multilineText' || question.value.type == 'rating' || question.value.type == 'selectSearch'">
                                        <mat-option [value]="true">Guest Profile</mat-option>
                                        <mat-option [value]="false">Event Data</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <div class="question-indicator">
                                    <mat-icon *ngIf="question.get('mapping').value">play_arrow</mat-icon>
                                    <mat-icon *ngIf="!question.get('mapping').value">folder_special</mat-icon>
                                </div>
                                <!-- {{question.value | json}} -->
                                <mat-form-field appearance="outline" fxFlex>
                                    <mat-select [required]="question.get('mapping').value"
                                        [value]="question.get('mappingField').value"
                                        [disabled]="!question.get('mapping').value"
                                        (selectionChange)="setValidator($event.value,i,question.get('mappingField').value,question.value.type)">
                                        <mat-option
                                            *ngFor=" let field of allProfileFields[question.value.type=='select'?'singleLineText':question.value.type]"
                                            [value]="field.name" [disabled]="field.isSelected"
                                            [ngClass]="{'noHeight': question.value.type == 'singleLineText' && lookups.indexOf(field.name.toLowerCase())>-1}">
                                            {{field.hasOwnProperty('label')?field.label:field.name}}
                                        </mat-option>
                                        <mat-option>
                                            <button mat-button class="primary-button"
                                                (click)="addNewCustomField(question.get('mapping'), i,question.controls.type.value)">Add
                                                custom field...</button>
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <mat-error *ngIf="question.headlineUnique == 0 || question.headlineArabicUnique == 0 ">Duplicate
                            Question
                        </mat-error>
                        <section class="options" fxFlex *ngIf="(question.controls.type.value === 'select' || question.controls.type.value === 'selectSearch')
                                && (question.controls.mappingField.value.toLowerCase() != 'nationality' 
                                && question.controls.mappingField.value.toLowerCase() != 'gender'
                                && question.controls.mappingField.value.toLowerCase() != 'issuingcountryid'
                                && question.controls.mappingField.value.toLowerCase() != 'documenttypeid')">
                            <div class="empty-option" *ngIf="question.controls.choices.controls.length === 0">
                                <mat-icon class="add" (click)="addOption(i, -1)">add_circle_outline</mat-icon>
                                <span>Add an Option</span>
                            </div>
                            <div class="option"
                                *ngFor="let choice of question.controls.choices.controls; let optionIndex = index"
                                fxLayout="column" fxLayoutAlign="space-between stretch" [formGroup]="choice">
                                <span fxLayout="row" fxLayoutAlign="start ">
                                    <mat-icon class="drag-ico">drag_indicator</mat-icon>
                                    <div class="code-input">
                                        <div class="value">{{choice.controls.value.value}}.</div>
                                    </div>
                                    <textarea autosize *ngIf="defaultLanguage == 'en' || languageOption"
                                        formControlName="label" type='text' placeholder="Type Option"></textarea>
                                    <textarea class="arabic" *ngIf="defaultLanguage == 'ar' || languageOption" autosize
                                        formControlName="labelArabic" type='text'
                                        placeholder="اكتب الاختيار"></textarea>
                                </span>
                                <span class="option-buttons">
                                    <mat-icon class="add" (click)="addOption(i, optionIndex)">add_circle_outline
                                    </mat-icon>
                                    <mat-icon class="delete" (click)="removeOption(i, optionIndex)">
                                        remove_circle_outline
                                    </mat-icon>
                                </span>
                            </div>
                        </section>
                    </div>
                </div>
                <div *ngIf="customs.indexOf(i) > -1" class="addCust" fxLayout="row" fxLayoutAlign="start start">
                    <div fxLayout="column" fxFlex="100">
                        <h2>Create New Custom Field</h2>
                        <irms-input-error class="custom-input" [fieldLabel]="'Name'"
                            [inputControl]="customFieldForm.controls['name']"
                            [errorRangeText]="'Field name must be between 2 and 100 characters.'"
                            [charactersCount]="100">
                        </irms-input-error>

                        <mat-form-field appearance="outline">
                            <mat-label>Type</mat-label>
                            <mat-select [id]="'type'" aria-label="attendees"
                                [formControl]="customFieldForm.controls['type']" required id='type' fxLayout='row'
                                fxLayoutAlign="space-between">
                                <mat-option value="text" *ngIf="question.controls.type.value == 'singleLineText'">Text
                                </mat-option>
                                <mat-option value="number" *ngIf="question.controls.type.value == 'singleLineText'">
                                    Digit</mat-option>
                                <mat-option value="date"
                                    *ngIf="question.controls.type.value != 'singleLineText' && question.controls.type.value != 'email' && question.controls.type.value != 'phone'">
                                    Date</mat-option>
                                <mat-option value="phone"
                                    *ngIf="question.controls.type.value != 'singleLineText' && question.controls.type.value != 'email' && question.controls.type.value != 'date'">
                                    Phone</mat-option>
                                <mat-option value="email"
                                    *ngIf="question.controls.type.value != 'singleLineText' && question.controls.type.value != 'date' && question.controls.type.value != 'phone'">
                                    Email</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <div *ngIf="customFieldForm.controls['type'].value==='text'" fxLayout='row'
                            fxLayoutAlign="space-between">
                            <mat-form-field appearance="outline">
                                <input matInput type='number' [required]="required"
                                    [formControl]="customFieldForm.get(['text','min'])" [placeholder]="'Min length'"
                                    min="1" max="200" [ngClass]="{'pointer-none': disabled}" />
                                <mat-error *ngIf="customFieldForm.get(['text','min']).hasError('rangeError')">
                                    Min length must be less than max length
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <input matInput type='number' [required]="required"
                                    [formControl]="customFieldForm.get(['text','max'])" [placeholder]="'Max length'"
                                    min="1" max="200" [ngClass]="{'pointer-none': disabled}" />
                                <mat-error *ngIf="customFieldForm.get(['text','max']).hasError('rangeError')">
                                    Max length must be greater than min length
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div *ngIf="customFieldForm.controls['type'].value==='number'" fxLayout='row'
                            fxLayoutAlign="space-between">
                            <mat-form-field appearance="outline">
                                <input matInput type='number' [required]="required"
                                    [formControl]="customFieldForm.get(['number','min'])" [placeholder]="'Min digits'"
                                    [min]="1" [ngClass]="{'pointer-none': disabled}" />
                                <mat-error *ngIf="customFieldForm.get(['text','min']).hasError('rangeError')">
                                    Min value must be less than max value
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <input matInput type='number' [required]="required"
                                    [formControl]="customFieldForm.get(['number','max'])" [placeholder]="'Max digits'"
                                    [min]="1" [ngClass]="{'pointer-none': disabled}" />
                                <mat-error *ngIf="customFieldForm.get(['text','max']).hasError('rangeError')">
                                    Max value must be greater than min value
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div *ngIf="customFieldForm.controls['type'].value==='date'">
                            <mat-form-field appearance="outline" fxFlex="50">
                                <input matInput [owlDateTimeTrigger]="dt12start"
                                    [formControl]="customFieldForm.get(['date', 'min'])" [placeholder]="'Min date'"
                                    [owlDateTime]="dt12start" autocomplete="off" [ngClass]="{'pointer-none': disabled}">
                                <owl-date-time #dt12start></owl-date-time>
                                <mat-error *ngIf="customFieldForm.get(['date','min']).hasError('rangeError')">
                                    Start date must be lesser than end date
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline" fxFlex="50">
                                <input matInput [owlDateTimeTrigger]="dt12end"
                                    [formControl]="customFieldForm.get(['date', 'max'])"
                                    [ngClass]="{'pointer-none': disabled}" [placeholder]="'Max date'"
                                    [owlDateTime]="dt12end" autocomplete="off">
                                <owl-date-time #dt12end></owl-date-time>
                                <mat-error *ngIf="customFieldForm.get(['date','max']).hasError('rangeError')">
                                    End date must be lesser than start date
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex="80" fxFlexLayout="row" fxLayoutAlign="space-between center">
                            <button mat-flat-button class="primary-button"
                                (click)="confirmAddCreateCust(question.get('mapping'),i,question.controls.type.value)"
                                [disabled]="form.invalid" [irmsButtonLoader]="loader">Add</button>
                            <button mat-flat-button class="secondary-button"
                                (click)="customs[this.customs.indexOf(i)] = -1">Cancel</button>
                        </div>

                    </div>
                </div>
                <div class="bottom" fxLayout="column" fxLayoutAlign="center stretch">
                    <div class="option-buttons" fxLayout="row" fxLayoutAlign="space-between stretch">
                        <button mat-icon-button class="add" [matMenuTriggerFor]="questionTypeDropdown">
                            <mat-icon>add</mat-icon>
                        </button>
                        <mat-menu #questionTypeDropdown="matMenu" yPosition="below">
                            <button mat-menu-item *ngFor="let type of questionTypeList"
                                (click)="addQuestion(i,type.type)">
                                <mat-icon class="type-icon" [ngStyle]="{'background': type.colorCode}">{{type.icon}}
                                </mat-icon>
                                <span>{{type.typeTitle}}</span>
                            </button>
                        </mat-menu>
                        <div fxLayout="row" fxLayoutAlign="end stretch">
                            <button mat-icon-button class="settings" (click)="drawer.open()">
                                <mat-icon>build</mat-icon>
                            </button>
                            <button mat-icon-button class="delete-drop" [matMenuTriggerFor]="settingDropdown">
                                <mat-icon>more_horizontal</mat-icon>
                            </button>
                            <mat-menu #settingDropdown="matMenu" yPosition="below">
                                <button mat-menu-item (click)="duplicateQuestion(i)">
                                    <mat-icon>dns</mat-icon>
                                    <span>Duplicate</span>
                                </button>
                                <button mat-menu-item [ngStyle]="{'color': 'red'}" (click)="removeQuestion(i)">
                                    <mat-icon [ngStyle]="{'color': 'red'}">delete</mat-icon>
                                    <span>Delete</span>
                                </button>
                            </mat-menu>
                        </div>
                    </div>
                    <div class="option-buttons"></div>
                </div>
            </div>

            <div class="content-sub-section" fxLayout="column" fxLayoutAlign="start stretch" [formGroup]="submit">
                <div class="content-type" fxLayout="row" fxLayoutAlign="start center" (click)="setCurrentAsSubmit()">
                    <span class="type-chip" [ngStyle]="{'background-color': questionColorCode['submit']}">
                        <mat-icon class="type-icon">{{questionIcon['submit']}}</mat-icon>Submit
                    </span>
                </div>
                <div class="question" fxLayout="column" fxLayoutAlign="space-between stretch">
                    <div fxLayout="row" fxLayoutAlign="space-between stretch">
                        <div class="question-english" *ngIf="defaultLanguage == 'en' || languageOption" fxFlex
                            fxLayout="column" fxLayoutAlign="space-between stretch">
                            <textarea autosize formControlName="submitMessage" type='text' placeholder="Submit Message"
                                (focus)="setCurrentAsSubmit()"></textarea>
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <input class="button-input secondary-button" formControlName="submitButton" type='text'
                                    placeholder="Button Text">
                            </div>
                        </div>
                        <div class="question-arabic" fxFlex *ngIf="defaultLanguage == 'ar' || languageOption">
                            <textarea autosize formControlName="submitMessageArabic" type='text'
                                placeholder=" رسالة تقديميه"></textarea>
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <input class="button-input secondary-button" formControlName="submitButtonArabic"
                                    type='text' placeholder="نص الزر">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-sub-section" fxLayout="column" fxLayoutAlign="start stretch" [formGroup]="thanks">
                <div class="content-type" fxLayout="row" fxLayoutAlign="start center">
                    <span class="type-chip" [ngStyle]="{'background-color': questionColorCode['thanks']}">
                        <mat-icon class="type-icon">{{questionIcon['thanks']}}</mat-icon>Thanks
                    </span>
                </div>
                <div *ngIf="defaultLanguage == 'en' || languageOption" fxFlex fxLayout="column"
                    fxLayoutAlign="space-between stretch">
                    <editor fxFlex="100" (onClick)="setCurrentEditor('thanks')" [id]="'thanks'" [apiKey]="tinyMceKey"
                        [init]="tinyMceConfig" formControlName="content"></editor>
                </div>
                <div *ngIf="defaultLanguage == 'ar' || languageOption" fxFlex fxLayout="column"
                    fxLayoutAlign="space-between stretch">
                    <editor fxFlex="100" (onClick)="setCurrentEditor('thanks')" [id]="'thanksArabic'"
                        [apiKey]="tinyMceKey" [init]="tinyMceConfig" formControlName="contentArabic"></editor>
                </div>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>