<div id="content-layout" class="page-layout carded fullwidth inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div class="header" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center">
            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{
                            value: '*',
                            params: { delay: '50ms', scale: '0.2' }
                        }">
                    people
                </mat-icon>
                <span class="logo-text h1" [@animate]="{
                            value: '*',
                            params: { delay: '100ms', x: '-25px' }
                        }">
                    Global Guests
                </span>
            </div>
            <!-- / APP TITLE -->
        </div>
        <!-- / HEADER -->
        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg generic-content-card" fxLayout="column">
            <div class="top-bar toolbar" fxFlex fxLayoutAlign="space-between center">
                <button mat-flat-button class="total-contacts secondary-button">
                    <mat-icon>group</mat-icon><span>{{count}} Total Guests</span>
                </button>
                
            </div>
            <div class="toolbar" [@animate]="{
            value: '*',
            params: { delay: '120ms', scale: '0.2' }
        }" fxLayout="row">
                <div class="toolbar-actions content-card" fxLayout="column">
                    <irms-generic-search-bar fxFlex="50" [searchPlaceholder]="'Search for guest lists'"
                     [emitQuery]="true" (searchText)="searchQueryChange($event)"
                     [debounceTime]="400">
                    </irms-generic-search-bar>
                </div>
            </div>

            <!-- CONTENT -->
            <div class="content-area">
                <div class="list-box" fusePerfectScrollbar fxFlex>
                    <irms-generic-list [dataListObservable]="data" [dataListItemBody]="childComponent"
                        [selectable]="selectable" [loaderType] = "'section-list'"
                        (onChangePagination)="changePagination($event)" [listHeaders]="listHeaders"
                        [emptyHeading]="'No Contact Lists'" [emptyMessage]="'Create guest lists to see them here...'">
                    </irms-generic-list>
                </div>
            </div>
            <div class="pagination">
                <mat-paginator [length]="(data | async)?.totalCount" [pageSize]="sectionService.pageSize"
                               [pageSizeOptions]="pageSizeOptions"
                               [pageIndex]="sectionService.pageIndex" (page)="changePagination($event)">
                </mat-paginator>
            </div>
            <!-- / CONTENT -->
        </div>
        <!-- / CONTENT CARD -->
    </div>
</div>