<form [formGroup]="testCampaignForm" (ngSubmit)="sendCampaign()" fxLayout="column" fxFlex="100" *ngIf="isSending" [@animate]="{value:'*',params:{duration:'300ms',x:'100px'}}">
    <h2 mat-dialog-title>Test Your Campaign</h2>
    <mat-hint>Test your campaign before sending it to your guests *</mat-hint>
    <mat-dialog-content fxLayout="column">
        <h2 *ngIf="!(isSelected.sms && isSelected.email && isSelected.whatsapp)">Select at least one channel.</h2>
        <div fxLayout="row">
            <button *ngIf="!isSelected.email" class="selectionBtn" type="button" (click)="selectEmail()"
                mat-raised-button>
                <mat-icon class="selection-icons">email</mat-icon>
            </button>
            <button *ngIf="!isSelected.sms" class="selectionBtn" type="button" (click)="selectSms()" mat-raised-button>
                <mat-icon class="selection-icons">textsms</mat-icon>
            </button>
            <button *ngIf="!isSelected.whatsapp" class="selectionBtn" type="button" (click)="selectWhatsapp()"
                mat-raised-button>
                <mat-icon class="whatsapp" svgIcon="whatsapp"></mat-icon>
            </button>
        </div>
        <div fxLayout="column" *ngIf="isSelected.email" class="channelContainer" fxFlex>
            <div fxFlex="100" fxLayout="row">
                <div fxFlex="95">
                    <mat-icon class="cont-icons">email</mat-icon>
                </div>
                <div>
                    <button type="button" mat-button (click)="unselectEmail()">
                        <mat-icon>clear</mat-icon>
                    </button>
                </div>
            </div>
            <div fxLayout="column" fxFlex="90">
                <mat-label>You can enter <span class="text-bold">up to 10 emails</span></mat-label>
                <mat-form-field appearance="outline">
                    <mat-chip-list #chipListEmails formArrayName="emails">
                        <mat-chip [ngClass]="(item.invalid)?'warn':'chip1'" selected
                            *ngFor="let item of emailList; let i=index" [selectable]="true" [removable]="removable"
                            (removed)="removeEmail(item)" required name="chips">
                            {{item.value}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                        <input placeholder="Enter Email" [matChipInputFor]="chipListEmails"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes " [matChipInputAddOnBlur]="true "
                            (matChipInputTokenEnd)="addEmail($event) " id="emailsInput" />
                    </mat-chip-list>
                </mat-form-field>
                <mat-error *ngIf="testCampaignForm.hasError('incorrectEmail')">Invalid email(s)</mat-error>
                <mat-error *ngIf="testCampaignForm.hasError('overflowEmail')">Please enter 10 or less emails</mat-error>
                <mat-error *ngIf="testCampaignForm.hasError('noEmails')">Enter emails</mat-error>
            </div>
        </div>
        <div fxLayout="column" *ngIf="isSelected.sms" class="channelContainer" fxFlex>
            <div fxFlex="100" fxLayout="row">
                <div fxFlex="95">
                    <mat-icon class="cont-icons">textsms</mat-icon>
                </div>
                <div>
                    <button type="button" mat-button (click)="unselectSms()">
                        <mat-icon>clear</mat-icon>
                    </button>
                </div>
            </div>
            <div fxLayout="column" fxFlex="90">
                <mat-label>You can enter <span class="text-bold">up to 10 phone numbers</span></mat-label>
                <mat-form-field appearance="outline">
                    <mat-chip-list #chipListPhone formArrayName="phoneNumbers">
                        <mat-chip [ngClass]="(item.invalid)?'warn':'chip1'" selected
                            *ngFor="let item of phoneNumbersList; let i=index" [selectable]="true"
                            [removable]="removable" (removed)="removePhoneNumber(item)" required name="chips">
                            {{item.value}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                        <input placeholder="Enter PhoneNumber" [matChipInputFor]="chipListPhone"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes " [matChipInputAddOnBlur]="true "
                            (matChipInputTokenEnd)="addPhoneNumber($event) " id="phoneNumbersInput" />
                    </mat-chip-list>
                </mat-form-field>
                <mat-error *ngIf="testCampaignForm.hasError('incorrectPhoneNumber')">Invalid phone number(s)</mat-error>
                <mat-error *ngIf="testCampaignForm.hasError('overflowPhoneNumber')">Please enter 10 or less phone
                    numbers
                </mat-error>
                <mat-error *ngIf="testCampaignForm.hasError('noPhoneNumbers')">Enter phone numbers</mat-error>
            </div>
        </div>

        <div fxLayout="column" *ngIf="isSelected.whatsapp" class="channelContainer" fxFlex>
            <div fxFlex="100" fxLayout="row">
                <div fxFlex="95">
                    <mat-icon svgIcon="whatsapp"></mat-icon>
                </div>
                <div>
                    <button type="button" mat-button (click)="unselectWhatsapp()">
                        <mat-icon>clear</mat-icon>
                    </button>
                </div>
            </div>
            <div fxLayout="column" fxFlex="90">
                <mat-label>You can enter <span class="text-bold">up to 10 Whatsapp numbers</span></mat-label>
                <mat-form-field appearance="outline">
                    <mat-chip-list #chipListWhatsapp formArrayName="whatsapp">
                        <mat-chip [ngClass]="(item.invalid)?'warn':'chip1'" selected
                            *ngFor="let item of whatsappList; let i=index" [selectable]="true" [removable]="removable"
                            (removed)="removeWhatsApp(item)" required name="chips">
                            {{item.value}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                        <input placeholder="Enter WhatsApp Number" [matChipInputFor]="chipListWhatsapp"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes " [matChipInputAddOnBlur]="true "
                            (matChipInputTokenEnd)="addWhatsApp($event) " id="whatsAppInput" />
                    </mat-chip-list>
                </mat-form-field>
                <mat-error *ngIf="testCampaignForm.hasError('incorrectWhatsApp')">Invalid WhatsApp number(s)</mat-error>
                <mat-error *ngIf="testCampaignForm.hasError('overflowWhatsApp')">Please enter 10 or less WhatsApp
                    numbers
                </mat-error>
                <mat-error *ngIf="testCampaignForm.hasError('noWhatsApp')">Enter WhatsApp numbers</mat-error>
            </div>
        </div>

        <div *ngIf="isSelected.sms || isSelected.whatsapp || isSelected.email" class="info-cont" fxLayout="row" fxLayoutAlign="center center">
            <mat-icon fxFlex="10">info</mat-icon>
            <div fxFlex>
                Please note: the default value of tags will be displayed instead of the tag variable if the information needed for the tag is unavailable.
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button class="mat-flat-button secondary-button" type="button" (click)="close()"
            id="cancel_button">Cancel</button>
        <button *ngIf="isSelected.sms || isSelected.whatsapp || isSelected.email" class="mat-flat-button primary-button"
            type="submit" id="send_button"
            [disabled]="testCampaignForm.invalid || (phoneNumbersList.length == 0 && whatsappList.length == 0 && emailList.length == 0)">
            Send</button>
    </mat-dialog-actions>
</form>
<div *ngIf="!isSending" fxLayout="column" fxFlex="100" fxLayoutAlign="center center"  [@animate]="{value:'*',params:{duration:'300ms',x:'100px'}}">
    <div fxLayout="column" fxFlex="50" fxLayoutAlign="start center">
        <mat-icon class="done">done_all</mat-icon>
        <h1>You have successfully sent your test campaign!</h1>
        <h2>You can either send another one go back to your campaign screen.</h2>
        <div fxLayout="row">
            <div fxFlex="50">
                <button class="mat-flat-button secondary-button" type="button" (click)="close()"
                    id="cancel_button">Close</button>
            </div>
            <div>
                <button class="mat-flat-button primary-button" type="button" (click)="sendAnother()">Send Another
                    Test</button>
            </div>
        </div>
    </div>
</div>