<h3>Available Features:</h3>
<div *ngIf="dataList">
  <div class="feature-list" *fuseIfOnDom [@animateStagger]="{value:'50'}" fxLayout="row wrap" fxLayoutWrap
    fxLayoutAlign="start start">
    <irms-feature-list-item *ngFor="let item of dataList" [isSubscribed]="true" [selectable]="selectable" [data]="item"
      [dataListItemBody]="dataListItemBody"
      (onSelectItem)="toggleSelectedId($event)" [@animate]="{value:'*',params:{y:'100%'}}"
      [readonly]="readonly">
    </irms-feature-list-item>
  </div>
</div>
<h3>Paid Features:</h3>
<div *ngIf="dataList">
  <div class="feature-list" *fuseIfOnDom [@animateStagger]="{value:'50'}" fxLayout="row wrap" fxLayoutWrap
    fxLayoutAlign="start start">
    <irms-feature-list-item *ngFor="let item of dataList" [isSubscribed]="false" [selectable]="selectable" [data]="item"
      [dataListItemBody]="dataListItemBody"
      (onSelectItem)="toggleSelectedId($event)" [@animate]="{value:'*',params:{y:'100%'}}"
      [readonly]="readonly">
    </irms-feature-list-item>
  </div>
</div>
<div *ngIf="!dataList || dataList.length == 0" class="empty-list">No records to display</div>