<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-around center">
        <button mat-icon-button (click)="back()">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <span class="menu-spacer"></span>
        <div class="nav-buttons" fxFlex="70" fxLayout="row" fxLayoutAlign="start stretch">
        </div>
        <span class="menu-spacer"></span>
        <button  (click)="onClickSave()" mat-flat-button class="secondary-button nav-link dark-bg save">
            <mat-icon>save</mat-icon>
            <span>Save</span></button>
        <span class="menu-spacer"></span>
    </mat-toolbar-row>
</mat-toolbar>