<div id="whatsapp-designer">
    <!-- NAVBAR-->
    <!-- <irms-whatsapp-designer-navbar (sendTestWhatsapp)="sendTestWhatsapp()"></irms-whatsapp-designer-navbar> -->
    <!-- / NAVBAR -->
  <div class="container" fusePerfectScrollbar
  [fusePerfectScrollbarOptions]="{suppressScrollX: true, updateOnRouteChange : true}">
  <!-- CONTENT -->
  <content></content>
  <!-- / CONTENT -->
  </div>
  </div>