<mat-form-field fxFlex="100" appearance="outline" [ngClass]="{'disable-me' : disabled}">
  <mat-label>
    {{label}}
  </mat-label>
  <input matInput type='text' [formControl]="inputControl" [placeholder]="placeholder" [matAutocomplete]="auto"
    irmsEnforcedInput [matAutocompleteDisabled]="disabled" >
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayName.bind(this)" multiple
    [attr.multiple]="isMultiple ? '' : null" >
    <mat-option *ngFor="let item of filteredArray | async" [value]="valueProp ? item[valueProp] : item">
      {{displayName(item)}}
    </mat-option>
  </mat-autocomplete>
  <mat-error *ngIf="inputControl.hasError('required')">
    This input field cannot be empty
  </mat-error>
</mat-form-field>