<div class="entity-info" fxLayout="row" fxLayoutAlign="start center" fxFlex [routerLink]="[data.id]">
    <div class="info" fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <p class="list-detail-item" fxFlex>{{data.name}}</p>
      <p class="list-detail-item" fxFlex>{{data.count}}</p>
      <p class="list-detail-item" fxFlex>{{data.event}}</p>
      <p class="list-detail-item" fxFlex>{{data.campaign}}</p>
      <p class="list-detail-item" fxFlex>{{data.lastUpdatedBy}}</p>
      <p class="list-detail-item" fxFlex>{{data.updatedDate | date}}</p>
      <p class="list-detail-item" fxFlex>
        <button mat-icon-button [matMenuTriggerFor]="actionMenu" aria-label="Action" (click)="$event.stopPropagation();">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #actionMenu="matMenu">
            <button mat-menu-item (click)="export()">
                <mat-icon>launch</mat-icon>
              <span>Export</span>
            </button>
          </mat-menu>
      </p>
    </div>
  </div> 