<div class="photo" *ngIf="isAvatar">
  <img [src]="image" alt="avatar" *ngIf="image"[ngClass]="{'larger':isLarger}">
  <img src="assets/images/avatars/profile.jpg" alt="avatar" *ngIf="!image" [ngClass]="{'larger':isLarger}">
</div>
<!-- <div class="photo" *ngIf="isAvatar && base64">
  <img [src]="base64" alt="avatar">
</div> -->

<div class="back-img" *ngIf="!isAvatar">
  <img class="thumbnail" [src]="image" alt="image" *ngIf="image">
  <img src="assets/images/backgrounds/empty.jpg" alt="image" *ngIf="!image">
</div>