<div class="entity-info" fxLayout="row" fxLayoutAlign="start center" fxFlex [routerLink]="['guest/'+data.id+'/personal-info']">
    <div class="info" fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <p class="list-detail-item align-left" fxFlex><span class="name-link">{{data.fullName}}</span></p>
        <p class="list-detail-item" fxFlex>{{data.mobileNumber}}</p>
        <p class="list-detail-item" fxFlex>{{data.email}}</p>
        <p class="list-detail-item" fxFlex>{{data.status}}</p>
    </div>
</div>