<div id="content-layout" class="page-layout carded fullwidth inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div class="header" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center">
            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{
                            value: '*',
                            params: { delay: '50ms', scale: '0.2' }
                        }">
                    group
                </mat-icon>
                <span class="logo-text h1" [@animate]="{
                            value: '*',
                            params: { delay: '100ms', x: '-25px' }
                        }">
                    Event Guests
                </span>
            </div>
            <!-- / APP TITLE -->
            <div>
                <button mat-flat-button class="primary-button" [routerLink]="['../import']">
                    <mat-icon>playlist_play</mat-icon><span>Import</span>
                </button>
                <button mat-flat-button class="primary-button" [matMenuTriggerFor]="addGuestsMenu">
                    <mat-icon>edit</mat-icon><span>Create</span><mat-icon>arrow_drop_down</mat-icon>
                </button>
                <mat-menu #addGuestsMenu="matMenu">
                    <button mat-menu-item (click)="goToAddContact()">
                        <mat-icon>person_add</mat-icon><span>Add Guest</span>
                    </button>
                    <button mat-menu-item (click)="goToImportContacts()">
                        <mat-icon>present_to_all</mat-icon><span>Upload Guests</span>
                    </button>
                    <button mat-menu-item (click)="createList()">
                        <mat-icon>playlist_add</mat-icon><span>Create Guests List <mat-icon class="info-icon"
                                #tooltip="matTooltip" matTooltip="Recommended" matTooltipPosition="below"
                                aria-tooltip="Recommended">
                                <!-- star -->
                                new_releases
                            </mat-icon></span>
                    </button>
                </mat-menu>
            </div>
        </div>
        <!-- / HEADER -->
        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg generic-content-card" fxLayout="column">
            <div class="toolbar" [@animate]="{
            value: '*',
            params: { delay: '120ms', scale: '0.2' }
        }" >
                <div class="toolbar-actions content-card" fxLayout="row" fxFlex fxLayoutAlign="start center"> 
                    <irms-generic-search-bar fxFlex="50" [searchPlaceholder]="'Search for guests lists'" debounceTime="900"
                    [emitQuery]="true" (searchText)="searchQueryChange($event)">
                    </irms-generic-search-bar>
                </div>
            </div>
            <!-- CONTENT -->
            <div class="content-area section-content">
                <div class="list-box" fusePerfectScrollbar fxFlex>
                    <irms-generic-list [dataListObservable]="data" [dataListItemBody]="listItemComponent"
                        [selectable]="false" (onChangePagination)="changePagination($event)" [listHeaders]="listHeaders"
                        [emptyHeading]="'No Guest Lists Found'" [loaderType] = "'section-list'">
                    </irms-generic-list>
                </div>
            </div>
            <div class="pagination">
                <mat-paginator [length]="(data | async)?.totalCount" [pageSize]="sectionService.pageSize"
                               [pageSizeOptions]="pageSizeOptions"
                               [pageIndex]="sectionService.pageIndex" (page)="changePagination($event)">
                </mat-paginator>
              </div>
            <!-- / CONTENT -->
        </div>
        <!-- / CONTENT CARD -->
    </div>
</div>