:host {
    width: 100%;
}

:host {

    .page-layout {

        .center {

            .content-card.mat-white-bg.generic-content-card {

                .content-area.section-content {

                    .list-box.ps {

                        irms-generic-list {

                            & ::ng-deep .generic-list {

                                .selection-list {

                                    irms-generic-list-item {

                                        & ::ng-deep {

                                            .list-item {

                                                .info {

                                                    irms-registration-list {

                                                        & ::ng-deep irms-event-guest-list-item {

                                                            & ::ng-deep .entity-info {

                                                                .info {
                                                                    // flex: unset !important;

                                                                    .list-detail-item {
                                                                        // flex: unset !important;

                                                                        &.name {
                                                                            width: 50%;
                                                                            white-space: nowrap;
                                                                            overflow: hidden;
                                                                            text-overflow: ellipsis;
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}