<div class="list-item" fxLayout="row" fxLayoutAlign="start center">
  <mat-checkbox [(ngModel)]="selected" (ngModelChange)="onSelectedChange(data)" *ngIf="selectable"
                (click)="$event.stopPropagation();"></mat-checkbox>
  <div class="info" fxFlex FlexLayout="column">
      <irms-registration-list [dataListItemBody]="dataListItemBody" [item]="data" >
      </irms-registration-list>
  </div>
</div>
