@import 'src/@fuse/scss/fuse';
@import "../../../../../../constants/variables.scss";

:host {
  flex-shrink: 0;
  position: relative;
  padding: 16px 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  cursor: pointer;

  .list-item {
    width: 100%;
  }


  &.selected {
    background: $secondary-color;
  }

  .info {
    overflow: hidden;
    margin-left: 16px;
  }
}
