<form fxLayout="column" [formGroup]="passConfirmForm" (ngSubmit)="submit()">
    <h2 mat-dialog-title>Confirm Your Password</h2>
    <mat-dialog-content class="menu">
        <mat-form-field>
            <input matInput autocomplete="new-password" formControlName="password" [type]="showPassword3.checked ? 'text' : 'password'"
                placeholder="Password">
            <mat-button-toggle #showPassword3 matSuffix>
                <mat-icon *ngIf="showPassword3.checked">visibility</mat-icon>
                <mat-icon *ngIf="showPassword3.checked===false">visibility_off</mat-icon>
            </mat-button-toggle>
            <mat-error *ngIf="passConfirmForm.controls.password.hasError('required')">
                This input field cannot be empty
            </mat-error>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-flat-button type="submit" class="submit-button primary-button"
            aria-label="Submit">
            <span>Submit</span>
        </button>
    </mat-dialog-actions>
</form>