@import "../../../../../constants/variables.scss";
.uploadfilecontainer {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    border: 2px dashed $accent-color;
    background: rgba(107, 105, 105, 0.15);
    border-radius: 10px;
    
    mat-icon{
        font-size: 40px;
    }
    .file-icon {
        position: relative;
        .delete-file {
            background: transparent;
            border: none;
            cursor: pointer;
            position: absolute;
            top: 0;
            mat-icon{
                font-size: 18px;
                color: $warn-color;
            }
        }
    }
}

.uploadfilecontainer:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.212);
    opacity: 0.8;
}

.files-list {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 10px auto;
    border: 1px dashed;
    border-radius: 12px;
    padding: 5px;
}

