@import "../../../../../../constants/variables.scss";

:host {
    width: 78vw;
}
::ng-deep mat-horizontal-stepper {
    height: 100%;
    .mat-horizontal-content-container, .mat-horizontal-stepper-content {
        height: 100%;
    }
    .mat-horizontal-stepper-header{
        pointer-events: none !important;
      }
}
img {
    width: 37%;
}

::ng-deep .mat-horizontal-stepper-header-container {
    display: none !important;
  }

  .action-btn {
      margin-top:25px;
  }

  
.secondary-button{
    border-right-style: none !important; 
    border-left-style: none !important; 
    border-top-style: none !important; 
    border-radius: 0px;
    margin-top: 40px !important;
}
.container {
    border-radius: 5px;
}