<form [formGroup]="invitationForm" fxLayout="column" fxLayoutAlign="start" (ngSubmit)="save()" #formRef="ngForm">
    <irms-media-template-group [activeMedia]="activeMedia" [emailTemplate]="invitationForm.controls['emailTemplate'].value" [showRsvp]="true"
    [smsTemplate]="invitationForm.controls['smsTemplate'].value" [whatsappTemplate]="invitationForm.controls['whatsappTemplate'].value" [disabled]="!isLoaded"
    [onlyEmitOnCreate]="!invitationId" (create)="save($event)" [isLanding]="true" [step]="step"></irms-media-template-group>
    <div fxLayout="row" fxLayoutAlign="center center">
        <div class="form-field-group">
            <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="isInstant">
                <mat-radio-button class="mb-12" [value]="true">Send invitation instantly</mat-radio-button>
                <mat-radio-button class="mb-12" [value]="false">
                    <ng-container *ngTemplateOutlet="startDate"></ng-container>
                </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
    <ng-template #startDate>
        <mat-form-field fxFlex="100" appearance="outline">
            <mat-label>
                Send invitation at
            </mat-label>
            <input matInput [owlDateTimeTrigger]="dt12" [formControl]="invitationForm.controls['startDate']"
                [owlDateTime]="dt12" [min]="now" autocomplete="off"
                [disabled]="invitationForm.controls['isInstant'].value"
                [readonly]="invitationForm.controls['isInstant'].value"
                [ngClass]="{'pointer-none': invitationForm.controls['isInstant'].value}"
                [min]="now">
            <owl-date-time #dt12></owl-date-time>
            <mat-error *ngIf="invitationForm.controls['startDate'].hasError('required')">
                Please enter a time.
            </mat-error>
            <mat-error *ngIf="invitationForm.controls['startDate'].hasError('dateError') || isPastDate">
                Enter a time in future.
            </mat-error>
        </mat-form-field>
    </ng-template>
</form>