mat-dialog-content {
  overflow-x: hidden;

  .types {
    width: 80%;
  }
}

:host {
  width: 100%;
  position: relative;
  ::ng-deep mat-form-field .mat-form-field {
    &-underline {
      position: relative;
      bottom: auto;
    }
    &-subscript-wrapper {
      position: static;
    }
  }
}
 mat-form-field {
  width: 100%;
 }
 mat-label{
   padding-right: 10px;
 }