<h2 mat-dialog-title>Add custom field</h2>

<mat-dialog-content class="menu" fxLayout="column">
  <irms-input-error class="custom-input"
    [fieldLabel]="'Name'" [inputControl]="form.controls['name']"
    [errorRangeText]="'Field name must be between 2 and 100 characters.'" [charactersCount]="100">
  </irms-input-error>

  <mat-form-field appearance="outline">
    <mat-label>Type</mat-label>
  <mat-select [id]="'type'" aria-label="attendees" [formControl]="form.controls['type']" required
    id='type' fxLayout='row' fxLayoutAlign="space-between" [disabled]="this.type == 'email' || this.type == 'phone' || this.type == 'date'">
    <mat-option value="text">Text</mat-option>
    <mat-option value="number">Digit</mat-option>
    <mat-option value="date" [disabled]="this.type == 'singleLineText'">Date</mat-option>
    <mat-option value="phone" [disabled]="this.type == 'singleLineText'">Phone</mat-option>
    <mat-option value="email" [disabled]="this.type == 'singleLineText'">Email</mat-option>
  </mat-select>
  </mat-form-field>

  <div *ngIf="form.controls['type'].value==='text'" fxLayout='row' fxLayoutAlign="space-between">
    <mat-form-field appearance="outline">
      <input matInput type='number' [required]="required" [formControl]="form.get(['text','min'])"
        [placeholder]="'Min length'" min="1" max="200"
        [ngClass]="{'pointer-none': disabled}"/>
        <mat-error *ngIf="form.get(['text','min']).hasError('rangeError')">
          Min length must be less than max length
        </mat-error>
      </mat-form-field>
    <mat-form-field appearance="outline">
      <input matInput type='number' [required]="required" [formControl]="form.get(['text','max'])"
        [placeholder]="'Max length'" min="1" max="200"
        [ngClass]="{'pointer-none': disabled}"/>
        <mat-error *ngIf="form.get(['text','max']).hasError('rangeError')">
          Max length must be greater than min length
        </mat-error>
    </mat-form-field>
  </div>

  <div *ngIf="form.controls['type'].value==='number'" fxLayout='row' fxLayoutAlign="space-between">
    <mat-form-field appearance="outline">
      <input matInput type='number' [required]="required" [formControl]="form.get(['number','min'])"
              [placeholder]="'Min digits'" [min]="1"
              [ngClass]="{'pointer-none': disabled}"/>
      <mat-error *ngIf="form.get(['text','min']).hasError('rangeError')">
        Min value must be less than max value
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input matInput type='number' [required]="required" [formControl]="form.get(['number','max'])"
              [placeholder]="'Max digits'" [min]="1"
              [ngClass]="{'pointer-none': disabled}"/>
      <mat-error *ngIf="form.get(['text','max']).hasError('rangeError')">
        Max value must be greater than min value
      </mat-error>
    </mat-form-field>
  </div>

  <div *ngIf="form.controls['type'].value==='date'">
    <mat-form-field appearance="outline" fxFlex="50">
      <input matInput [owlDateTimeTrigger]="dt12start" [formControl]="form.get(['date', 'min'])" [placeholder]="'Min date'"
                [owlDateTime]="dt12start" autocomplete="off" [ngClass]="{'pointer-none': disabled}">
      <owl-date-time #dt12start></owl-date-time>
      <mat-error *ngIf="form.get(['date','min']).hasError('rangeError')">
        Start date must be lesser than end date
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" fxFlex="50">
      <input matInput [owlDateTimeTrigger]="dt12end" [formControl]="form.get(['date', 'max'])" [ngClass]="{'pointer-none': disabled}" [placeholder]="'Max date'"
                [owlDateTime]="dt12end" autocomplete="off">
      <owl-date-time #dt12end></owl-date-time>
      <mat-error *ngIf="form.get(['date','max']).hasError('rangeError')">
        End date must be lesser than start date
      </mat-error>
    </mat-form-field>
  </div>

</mat-dialog-content>
<mat-dialog-actions>
  <button class="mat-flat-button secondary-button" (click)="close()">Cancel</button>
  <button mat-flat-button class="primary-button" (click)="confirm()" [disabled]="form.invalid" [irmsButtonLoader]="loader">Add</button>
</mat-dialog-actions>