<div class="navbar-scroll-container" fusePerfectScrollbar
    [fusePerfectScrollbarOptions]="{suppressScrollX: true}">
    <div class="navbar-content">
        <fuse-navigation [navigation]="navigation" class="material2" layout="vertical"></fuse-navigation>
    </div>
</div>
