<div *ngIf="section === 'welcome' && formObj" class="form-section" [ngClass]="{'rtl': isArabic}"
    [@animate]="{value:'*',params:{y:'100%'}}" fxLayout="column" fxLayoutAlign="start center">
    <div class="content_wrapper">
        <div class="inner_wrapper">
            <div class="languageToggle" *ngIf="settings.languageOption">
                <div class="tg-container-item">
                    <input class="tgl tgl-item" [(ngModel)]="isArabic" id="isArabic" type="checkbox" />
                    <label
                        [ngStyle]="{'color': themeObj.buttons.background, 'border-color': themeObj.buttons.background}"
                        class="tgl-btn submit-button" data-tg-on="English" data-tg-off="العربية" for="isArabic"></label>
                </div>
            </div>
            <div *ngIf="!isArabic" class="content" [innerHTML]="formObj.welcome.content | safehtml"></div>
            <div *ngIf="isArabic" class="content" [innerHTML]="formObj.welcome.contentArabic | safehtml"></div>
        </div>
        <irms-continue-button [isArabic]="isArabic" *ngIf="!isArabic" [theme]="themeObj.buttons"
            [buttonText]="formObj.welcome.button" (next)="gotoForm()">
        </irms-continue-button>
        <irms-continue-button [isArabic]="isArabic" *ngIf="isArabic" [theme]="themeObj.buttons"
            [buttonText]="formObj.welcome.buttonArabic" (next)="gotoForm()">
        </irms-continue-button>
    </div>
</div>
<div *ngIf="formObj && formObj.questions.length > 0" [ngClass]="{'hide': section !== 'form'}" class="form-section" 
    [style.height]="mockup ? config.height+'px' : hostHeight"
    [style.width]="mockup ? '100%' : hostWidth"
    [ngClass]="{'rtl': isArabic}">
    <!-- List of Questions -->
    <form [formGroup]="formGroup" class="form-element">
        <div class="swiper-container" #swiper [swiper]="config" [(index)]="qIndex" (slideChangeTransitionEnd)="nextTrig($event)"
            [ngClass]="{'rtl': isArabic}" 
            [style.height]="mockup ? config.height+'px' : hostHeight"
            [style.width]="mockup ? '100%' : hostWidth">
            <div class="swiper-wrapper" 
            [style.height]="mockup ? config.height+'px' : hostHeight"
            [style.width]="mockup ? '100%' : hostWidth">
                <div *ngFor="let question of formObj.questions; let i = index" class="swiper-slide" 
                    [class.focus]="i == qIndex" [id]="question.id" 
                    [style.height]="mockup ? config.height+'px' : hostHeight"
                    [style.width]="mockup ? '100%' : hostWidth">
                    <div class="inner_wrapper">
                        <h3 *ngIf="!isArabic" [ngStyle]="{'color': themeObj.questions.color}"><span class="question-number" [ngStyle]="{'color': themeObj.answers.color}">{{i+1}}
                            <svg [ngStyle]="{'fill': themeObj.answers.color}" height="10" width="11"><path d="M7.586 5L4.293 1.707 5.707.293 10.414 5 5.707 9.707 4.293 8.293z"></path><path d="M8 4v2H0V4z"></path></svg>
                        </span>{{question.headline}}
                            <span *ngIf="!question.required" class="optionalIndicator"> Optional</span></h3>
                        <h3 *ngIf="isArabic" [ngStyle]="{'color': themeObj.questions.color}">
                            <span class="question-number" [ngStyle]="{'color': themeObj.answers.color}">{{i+1}}
                                <svg [ngStyle]="{'fill': themeObj.answers.color}" transform='rotate(180)' height="10" width="11"><path d="M7.586 5L4.293 1.707 5.707.293 10.414 5 5.707 9.707 4.293 8.293z"></path><path d="M8 4v2H0V4z"></path></svg>
                            </span>
                            {{question.headlineArabic}}
                            <span *ngIf="!question.required" class="optionalIndicator">اختياري</span></h3>
                        <div *ngIf="!isArabic && question.description" class="description">{{question.description}}
                        </div>
                        <div *ngIf="isArabic && question.descriptionArabic" class="description">
                            {{question.descriptionArabic}}</div>
                        <irms-single-option *ngIf="question.type == 'select'" [isArabic]="isArabic" [theme]="themeObj"
                            [inputControl]="formGroup.get(question.id)" [question]="question"
                            (scrollNext)="gotoNext($event)" (fieldUpdate)="notifyProgress()">
                        </irms-single-option>
                        <irms-multi-option *ngIf="question.type == 'selectSearch'" [isArabic]="isArabic"
                            [theme]="themeObj" [inputControl]="formGroup.get(question.id)" [question]="question"
                            (scrollNext)="gotoNext($event)" (fieldUpdate)="notifyProgress()">
                        </irms-multi-option>
                        <irms-text-answer [isArabic]="isArabic"
                            *ngIf="(question.type == 'singleLineText' || question.type == 'email' || question.type == 'multilineText')"
                            [theme]="themeObj" [inputControl]="formGroup.get(question.id)" [question]="question"
                            (scrollNext)="gotoNext($event)" (fieldUpdate)="notifyProgress()"></irms-text-answer>
                        <irms-phone-number [isArabic]="isArabic" *ngIf="question.type == 'phone'" [theme]="themeObj"
                            [inputControl]="formGroup.get(question.id)" [question]="question"
                            (scrollNext)="gotoNext($event)" (fieldUpdate)="notifyProgress()"></irms-phone-number>
                        <irms-icon-rating [isArabic]="isArabic" *ngIf="question.type == 'rating'" [theme]="themeObj"
                            [inputControl]="formGroup.get(question.id)" [question]="question"
                            (scrollNext)="gotoNext($event)" (fieldUpdate)="notifyProgress()"></irms-icon-rating>
                        <irms-date-field [isArabic]="isArabic" *ngIf="question.type == 'date'" [theme]="themeObj"
                            [inputControl]="formGroup.get(question.id)" [question]="question"
                            (scrollNext)="gotoNext($event)" (fieldUpdate)="notifyProgress()" ></irms-date-field>
                    </div>
                </div>
                <div id="final" class=" swiper-slide final">
                    <div class="inner_wrapper" *ngIf=" formObj && formGroup.valid; else formError ">
                        <div *ngIf="!isArabic" [ngStyle]="{'color': themeObj.questions.color}" class="message"
                            [innerText]="formObj.submit.submitMessage"></div>
                        <div *ngIf="isArabic" [ngStyle]="{'color': themeObj.questions.color}" class="message"
                            [innerText]="formObj.submit.submitMessageArabic"></div>
                        <button mat-button *ngIf="!isArabic" (click)="submitForm()" class="submit-button"
                            [ngStyle]="{'color': themeObj.buttons.text, 'background-color': themeObj.buttons.background}"
                            [disabled]="saveLoading" [class.buttonSpinner]="saveLoading">
                            {{allowReview ? 'Review & Submit' : formObj.submit.submitButton}}
                        </button>
                        <button  mat-button *ngIf="isArabic" (click)="submitForm()" class="submit-button"
                            [ngStyle]="{'color': themeObj.buttons.text, 'background-color': themeObj.buttons.background}"
                            [disabled]="saveLoading" [class.buttonSpinner]="saveLoading">
                            {{allowReview ? 'مراجعة وتسليم' : formObj.submit.submitButtonArabic}}
                        </button>
                    </div>
                </div>
            </div>

            <div class="swiper-scrollbar"></div>
        </div>
        <ng-template #formError>
            <div fxLayout="column" fxLayoutAlign="stretch center" fxFill>
                <div class="error-message submit-error">
                    {{!isArabic? 'Please review and fill in valid answers...' : 'يرجى مراجعة الطلب والتحقق من الإجابات'}} <br>
                </div>
                <div class="inner_wrapper">
                    <button class="submit-button disabled" [ngStyle]="{'color': themeObj.buttons.text, 'background-color': themeObj.buttons.background}"
                    (click)="getFormValidationErrors()"> {{!isArabic? 'Review' : 'مراجعة'}}</button>
                </div>
            </div>
        </ng-template>
    </form>
    <irms-form-navigator [isArabic]="isArabic" [theme]="themeObj" [progress]="progressSubject" [mockup]="mockup"
        (scrollNext)="gotoNext($event)" (scrollPrevious)="gotoPrevious($event)" [ngClass]="{'rtl': isArabic}">
    </irms-form-navigator>
    <!-- List of Questions -->
</div>

<div *ngIf="formObj && formObj.questions.length > 0 && section === 'review'" [@animate]="{value:'*',params:{y:'100%'}}" class="form-section" 
    [style.height]="mockup ? config.height+'px' : hostHeight"
    [style.width]="mockup ? '100%' : hostWidth"
    [ngClass]="{'rtl': isArabic}">
    <irms-form-review [questions]="formObj.questions" [responseFormGroup]="formGroup"
    [isArabic]="isArabic" [theme]="themeObj" [saveLoading]="saveLoading" (save)="submitReviewedForm()"></irms-form-review>
</div>

<div *ngIf="section === 'thanks' && formObj" class="form-section" [ngClass]="{'rtl': isArabic}"
    [@animate]="{value:'*',params:{y:'100%'}}" fxLayout="column" fxLayoutAlign="start center">
    <div class="content_wrapper">
        <div class="inner_wrapper">
            <div *ngIf="!isArabic" class="content" [innerHTML]="formObj.thanks.content | safehtml"></div>
            <div *ngIf="isArabic" class="content" [innerHTML]="formObj.thanks.contentArabic | safehtml"></div>
        </div>
    </div>
</div>