<div class="content-card mat-white-bg generic-content-card">
    <div class="toolbar" [@animate]="{
    value: '*',
    params: { delay: '120ms', scale: '0.2' }
}" fxLayout="row">
        <div class="toolbar-actions content-card" fxFlex >
            <irms-generic-search-bar fxFlex="50" [searchPlaceholder]="'Search for guests'"
            (searchText)="search($event)"
            [emitQuery]="true">
            </irms-generic-search-bar>
        </div>
    </div>
    <div class="toolbar list-actions" [@animate]="{
        value: '*',
        params: { delay: '120ms', scale: '0.2' }
    }" fxLayout="row">
        <div class="action-btn-group">
            <irms-actions-button-group [actionButtons]="actionButtons" 
            [selectedItems]="selectedGuests" *ngIf="selectedGuests.length > 0"></irms-actions-button-group>
        </div>
    </div>
    <!-- CONTENT -->
    <div class="content-area">
        <div class="list-box" fusePerfectScrollbar fxFlex>
            <irms-generic-list [dataListObservable]="data" [dataListItemBody]="listItemComponent"
                [selectable]="true" (onChangePagination)="changePagination($event)" 
                [selectedIds]="selectedGuests" (onCheckChange)="selectionChange($event)"
                [listHeaders]="listHeaders" [checked]="checked" [indeterminate]="indeterminate"
                [emptyHeading]="'No Guests Found'" (onSelectAll)="selectAll($event)" [loaderType] = "'section-list'">
            </irms-generic-list>
        </div>
    </div>
    <div class="pagination">
        <mat-paginator [length]="(data | async)?.totalCount" [pageSize]="sectionService.pageSize"
                       [pageSizeOptions]="pageSizeOptions"
                       [pageIndex]="sectionService.pageIndex" (page)="changePagination($event)">
        </mat-paginator>
      </div>
    <!-- / CONTENT -->
</div>
<!-- / CONTENT CARD -->