@import "../../../../constants/variables.scss";
:host {
    width: 100%;
    .nav-link {
        height: 100%;
        border-radius: 0px;
        &.active {
            background-color: $accent-color !important;
            color: $theme-white;
        }
    }
}
.save {
    height: 73% !important;
}  

.back-arrow-offset {
    margin-right: 10px;
}

mat-toolbar-row > * {
    height: 100%;
    place-content: unset;
}