<div id="form-designer">
    <!-- NAVBAR-->
    <irms-form-designer-navbar></irms-form-designer-navbar>
    <!-- / NAVBAR -->
  <div class="container" fusePerfectScrollbar
  [fusePerfectScrollbarOptions]="{suppressScrollX: true, updateOnRouteChange : true}">
  <irms-form-builder></irms-form-builder>
  </div>
  </div>