.color-picker-elem {
    ::ng-deep .color-picker {
        border: none;
        box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);

        .arrow {
            border-width: 6px 10px;
            border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #acacacc2;
        }
    }

    .color-picker-trig {
        // height: 40px;

    }
}