
<h2 mat-dialog-title>Email Message Preview</h2>

<mat-dialog-content class="content" fxLayout="column" [ngClass]="{'extraContent':sendTest}">
   <irms-email-designer-preview [id]="data.id"></irms-email-designer-preview>
   <irms-email-designer-send-test-email *ngIf="sendTest" [templateId]="data.tempId"></irms-email-designer-send-test-email>
</mat-dialog-content>
<mat-dialog-actions *ngIf="!sendTest">
  <button class="mat-flat-button secondary-button" (click)="close()">Close</button>
  <button mat-flat-button class="primary-button" (click)="sendTest=!sendTest" >Send Test</button>
</mat-dialog-actions>