<div fxLayout="column" fxFlex>
  <div class="content section-content" fxLayout="row" fxFlex>
    <div class="list-box" fusePerfectScrollbar fxFlex  [@expandCollapseHorizontal]="sectionService.isVisibleListBox">
      <irms-generic-list [dataListObservable]="data" [dataListItemBody]="childComponent"
                        [selectedIds]='sectionService.selectedIds'
                        [currentId]='sectionService.onCurrentChanged.value?.id'
                        (onCheckChange)="sectionService.handleRowCheckChange($event)" (onReadItem)="selectItem($event)"
                        (onChangePagination)="changePagination($event)"></irms-generic-list>
    </div>
    <div class="view-box p-24" fxFlex fusePerfectScrollbar [@expandCollapseHorizontal]="isSubroute">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="pagination">
    <mat-paginator [length]="(data | async)?.totalCount" [pageSize]="sectionService.pageSize"
                   [pageSizeOptions]="pageSizeOptions"
                   [pageIndex]="sectionService.pageIndex" (page)="changePagination($event)">
    </mat-paginator>
  </div>
</div>
