<mat-form-field fxFlex="1 1 auto">
  <input matInput type='text' [formControl]="inputControl" [placeholder]="placeholder"  [matAutocomplete]="auto" irmsEnforcedInput>
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayName.bind(this)">
    <mat-option *ngFor="let item of data | async" [value]="item">
      {{displayName(item)}}
    </mat-option>
  </mat-autocomplete>
  <mat-error *ngIf="empty">
    This input field cannot be empty
  </mat-error>
</mat-form-field>

