<h2 matDialogTitle>Design {{data.type}} {{data.step == 0? 'Invitation (RSVP)':'Pending'}}</h2>
<irms-rsvp-form-editor [isStepper]="true" [rsvpForm]="rsvpForm" [tempInfo]="tempInfo"></irms-rsvp-form-editor>