<section id="form-builder" class="main-content">
    <div id="sidebar">
      <mat-nav-list role="list">
        <a mat-list-item role="listitem" (click)="selectedTab = 0" [ngClass]="{'active': selectedTab == 0}" title="Edit Form">
          <mat-icon matListIcon>edit</mat-icon>
          <!-- Forms -->
        </a>
        <a mat-list-item role="listitem" (click)="selectedTab = 1" [ngClass]="{'active': selectedTab == 1}"
          title="Select Theme">
          <mat-icon matListIcon>format_paint</mat-icon>
          <!-- Themes -->
        </a>
        <a mat-list-item role="listitem" (click)="selectedTab = 2" [ngClass]="{'active': selectedTab == 2}"
          title="Form Settings">
          <mat-icon matListIcon>settings_applications</mat-icon>
        </a>
      </mat-nav-list>
    </div>
    <div id="main-container">
      <section class="form-editor" fxLayout="row" fxLayoutAlign="start" fxLayoutGap="10px grid">
        <div class="editor-pane" fxFlex="60">
          <mat-tab-group *ngIf = "isDataLoaded; else loading" class="editor-tabs" [selectedIndex]="selectedTab" animationDuration="100ms" [formGroup]="form">
            <mat-tab formGroupName="formContent">
              <ng-template matTabContent>
                <irms-data-review-form-builder-content-pane [importantFields]="importantFields" [welcome]="form.get('formContent.welcome')"
                [form]="form.get('formContent.questions')" [defaultLanguage]="form.get('formSettings.defaultLanguage').value"
                [languageOption]="form.get('formSettings.languageOption').value" [thanks]="form.get('formContent.thanks')" 
                [submit]="form.get('formContent.submit')"></irms-data-review-form-builder-content-pane>
              </ng-template>
            </mat-tab>
            <mat-tab formGroupName="formTheme">
              <ng-template matTabContent>
                <irms-data-review-form-builder-theme-pane [theme]="form.get('formTheme')"></irms-data-review-form-builder-theme-pane>
              </ng-template>
            </mat-tab>
            <mat-tab>
              <ng-template matTabContent>
                <irms-data-review-form-builder-settings-pane [settings]="form.get('formSettings')"></irms-data-review-form-builder-settings-pane>
              </ng-template>
            </mat-tab>
          </mat-tab-group>
        </div>
        <div class="preview-pane" fxFlex="40" fxLayout="row" fxLayoutAlign="center start">
            <irms-refresh-form-button (refreshClick)="refreshFormPreview()"></irms-refresh-form-button>
            <div class="mobile-preview">
                <irms-form [mockup]="true"></irms-form>
            </div>          
        </div>
      </section>
    </div>
  </section>
  <div fxFlexLayout="row" fxLayoutAlign="space-between center">
    <button class="secondary-button" mat-flat-button (click)="close()">Close</button>
    <button class="primary-button" mat-flat-button (click)="saveRfiForm()">Confirm</button>
</div>
<ng-template #loading>
  <irms-generic-content-loader [loaderType]="'block-content'"></irms-generic-content-loader>
  <irms-generic-content-loader [loaderType]="'block-content'"></irms-generic-content-loader>
</ng-template>