@import "../../../../../constants/variables.scss";
.search-wrapper {
    border-radius: 4px;
    overflow: hidden;
    border: $theme-box-border !important;
    padding: 5px 8px;
    margin: 8px 0px;
    .search {
        width: 100%;
        color: $primary-color !important;
        .mat-icon {
        color: $primary-color !important;
        }
    }
    &:focus-within {
        border: 2px solid $accent-color !important;
        .search .mat-icon {
            color: $accent-color !important;
            }
    }
    input {
        background: none;
    }
}
.parent:focus-within {
    border: 1px solid #000;
  }