<div fxLayout="column" fxLayoutAlign="start stretch">
    <h2 class="step-heading">Where do you wish to add your guests?</h2>
    <mat-radio-group aria-label="attendees" [formControl]="guestImportListStep.controls['list']" required
        fxLayout="column" fxLayoutAlign="start">
        <mat-radio-button value="existing">Add guests to an existing list</mat-radio-button>
        <mat-radio-button value="new">Add guests to a new list</mat-radio-button>
    </mat-radio-group>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <div fxLayout="column" fxLayoutAlign="center start" fxFlex="1 0 auto">
            <irms-input-error *ngIf="guestImportListStep.controls['list'].value === 'new'"
                [fieldLabel]="'New list name'" [inputControl]="guestImportListStep.controls['listName']"
                [errorRangeText]="'List Name must be between 2 and 100 characters.'" [charactersCount]="100">
            </irms-input-error>
            <mat-error *ngIf="guestImportListStep.get('listName')?.hasError('listNameTaken')" fxFlex="100" class="uniqueName">
                Name must be unique
            </mat-error>
        </div>
        <mat-form-field fxFlex="100" appearance="outline"
            *ngIf="guestImportListStep.controls['list'].value === 'existing'">
            <mat-label>
                Select your guest list
            </mat-label>
            <mat-select [formControl]="guestImportListStep.controls['listId']">
                <mat-option *ngFor="let list of lists" [value]="{id: list.id, name: list.name}">
                    {{list.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="row btn-group" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="1 0 auto" fxFlex="100">
        <div class="btn">
            <button mat-button [routerLink]="['../']" class="secondary2-button">Cancel</button>
        </div>
        <div class="btn">
            <button mat-button matStepperNext [disabled]="guestImportListStep.invalid || !isValid || formService.toBeGuestsList.length === 0"
                class="primary-button" (click)="goToImportGuests()">Next</button>
        </div>
    </div>
</div>
