
@import "../../../../../../constants/variables.scss";
:host {
    width: 100%;
}
.response-item {
    margin: 15px;
    border-bottom: $theme-box-border;
    .question-number {
        color: $primary-color;
        font-weight: 600;
    }
    .question-container {
        .question {
            color: $primary-color;
            font-weight: 600;
        }
        .mapping {
            font-weight: 600;
        }
        .response {
            width: auto;
            margin: 10px ;
        }
        .secondary2-button {
            height: 36px;
        }
        .chip1 {
            margin-inline-end: 10px;
        }
    }
}