<div id="content-layout" class="page-layout carded fullwidth">
    <!-- TOP BACKGROUND -->
    <div class="top-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div class="header" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center">
            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon [routerLink]="['../']" class="cursor-pointer logo-icon s-32 mr-16" [@animate]="{
                    value: '*',
                    params: { delay: '50ms', scale: '0.2' }
                }">
                        arrow_back
                </mat-icon>
                <span class="logo-text h1" [@animate]="{
                            value: '*',
                            params: { delay: '100ms', x: '-25px' }
                        }">
                    {{guestName}}'s Response
                </span>
            </div>
            <!-- / APP TITLE -->
        </div>
        <!-- / HEADER -->
        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg generic-content-card">
            <div class="toolbar" [@animate]="{
                value: '*',
                params: { delay: '120ms', scale: '0.2' }
            }">
                <mat-hint>Submitted on {{response?.submittedDate | dateTimeFormat}}</mat-hint>
              </div>
            <!-- CONTENT -->
            <div class="content-area" fxLayout="column" fxFill>
                <div class="summary-container" fxLayout="column" fxFill *ngIf="isDataLoaded ; else loading">
                    <div class="summary-chart"></div>
                    <div class="summary-area" fxLayout="column" >
                        <div *ngFor="let question of response.responseData; let qIndex = index" class="response-item" [@animate]="{value:'*',params:{y:'100%'}}" fxLayout="row" fxLayoutAlign="start">
                            <h3 class="question-number" fxFlex="5">Q {{qIndex + 1}}.</h3>
                            <div class="question-container" fxFlex fxFill fxLayout="column">
                                <div fxLayout="row" fxLayoutAlign="space-between center">
                                    <h3 class="question">{{question.question.headline || question.question.headlineArabic}}</h3>
                                    <span class="chip2" *ngIf="question.questionMappingType">Mapped to Guest's &nbsp;<span
                                        class="mapping">{{question.mappedField}}</span></span>
                                </div>
                                <div class="response" *ngIf="listTypes.indexOf(question.question.type) > -1">
                                    <div class="response-text">{{question.questionResponse || "-"}}</div>
                                </div>
                                <div class="response" *ngIf="question.question.type === 'select'">
                                    <div class="response-text chip1">{{question.questionResponse || "-"}}</div>
                                </div>
                                <div class="response" *ngIf="question.question.type === 'selectSearch'">
                                    <div class="response-text chip1" *ngFor="let choice of question.questionResponse ">{{choice}}</div>
                                </div>
                                <div class="response" *ngIf="question.question.type === 'rating'">
                                    <mat-icon *ngFor="let star of emptyArray(question.questionResponse)">star</mat-icon>
                                    <mat-icon *ngFor="let star of emptyArray(4 - question.questionResponse + 1)">star_border</mat-icon>
                                </div>
                            </div>
                        </div>
                
                    </div>
                </div>
            </div>
            <!-- / CONTENT -->
        </div>
        <!-- / CONTENT CARD -->
    </div>
</div>

<ng-template #loading>
    <irms-generic-content-loader [loaderType]="'section-list'"></irms-generic-content-loader>
</ng-template>