<div class="loader-container">
    <div class="svg" *ngIf="loaderType && loaderType === 'section-list'">
        <svg role="img" width="100%" height="100%" viewBox="0 0 1009.54 510" aria-labelledby="loading-aria"
            preserveAspectRatio="none">
            <title id="loading-aria">Loading...</title>
            <rect x="0" y="0" width="100%" height="100%" clip-path="url(#clip-path)" style='fill: url("#fill");'></rect>
            <defs>
                <clipPath id="clip-path">
                    <rect x="0" y="5" rx="5" ry="5" width="100%" height="85" />
                    <rect x="0" y="106" rx="5" ry="5" width="100%" height="85" />
                    <rect x="-2" y="212" rx="5" ry="5" width="100%" height="85" />
                    <rect x="0" y="318" rx="5" ry="5" width="100%" height="85" />
                    <rect x="0" y="424" rx="5" ry="5" width="100%" height="85" />
                </clipPath>
                <linearGradient id="fill">
                    <stop offset="0.599964" stop-color="#f3f3f3" stop-opacity="1">
                        <animate attributeName="offset" values="-2; -2; 1" keyTimes="0; 0.25; 1" dur="2s"
                            repeatCount="indefinite"></animate>
                    </stop>
                    <stop offset="1.59996" stop-color="#ecebeb" stop-opacity="1">
                        <animate attributeName="offset" values="-1; -1; 2" keyTimes="0; 0.25; 1" dur="2s"
                            repeatCount="indefinite"></animate>
                    </stop>
                    <stop offset="2.59996" stop-color="#f3f3f3" stop-opacity="1">
                        <animate attributeName="offset" values="0; 0; 3" keyTimes="0; 0.25; 1" dur="2s"
                            repeatCount="indefinite"></animate>
                    </stop>
                </linearGradient>
            </defs>
        </svg>
    </div>
    <div class="svg" *ngIf="loaderType && loaderType === 'event-card'">
        <svg role="img" width="259" height="319" viewBox="0 0 319 259" aria-labelledby="loading-aria"
            preserveAspectRatio="none">
            <title id="loading-aria">Loading...</title>
            <rect x="0" y="0" width="100%" height="100%" clip-path="url(#clip-path)" style='fill: url("#fill");'></rect>
            <defs>
                <clipPath id="clip-path">
                    <rect x="9.5" y="9.5" rx="15" ry="15" width="300" height="240" />
                </clipPath>
                <linearGradient id="fill">
                    <stop offset="0.599964" stop-color="#f3f3f3" stop-opacity="1">
                        <animate attributeName="offset" values="-2; -2; 1" keyTimes="0; 0.25; 1" dur="2s"
                            repeatCount="indefinite"></animate>
                    </stop>
                    <stop offset="1.59996" stop-color="#ecebeb" stop-opacity="1">
                        <animate attributeName="offset" values="-1; -1; 2" keyTimes="0; 0.25; 1" dur="2s"
                            repeatCount="indefinite"></animate>
                    </stop>
                    <stop offset="2.59996" stop-color="#f3f3f3" stop-opacity="1">
                        <animate attributeName="offset" values="0; 0; 3" keyTimes="0; 0.25; 1" dur="2s"
                            repeatCount="indefinite"></animate>
                    </stop>
                </linearGradient>
            </defs>
        </svg>
    </div>
    <div class="svg" *ngIf="!loaderType || loaderType === 'generic'">
        <svg role="img" width="200" height="100%" aria-labelledby="loading-aria" viewBox="0 0 100 30"
            preserveAspectRatio="none">
            <title id="loading-aria">Loading...</title>
            <rect x="0" y="0" width="100%" height="100%" clip-path="url(#clip-path)" style='fill: url("#fill");'></rect>
            <defs>
                <clipPath id="clip-path">
                    <rect x="0" y="5" rx="1" ry="1" width="200" height="100%" />
                </clipPath>
                <linearGradient id="fill">
                    <stop offset="0.599964" stop-color="#f3f3f3" stop-opacity="1">
                        <animate attributeName="offset" values="-2; -2; 1" keyTimes="0; 0.25; 1" dur="2s"
                            repeatCount="indefinite"></animate>
                    </stop>
                    <stop offset="1.59996" stop-color="#ecebeb" stop-opacity="1">
                        <animate attributeName="offset" values="-1; -1; 2" keyTimes="0; 0.25; 1" dur="2s"
                            repeatCount="indefinite"></animate>
                    </stop>
                    <stop offset="2.59996" stop-color="#f3f3f3" stop-opacity="1">
                        <animate attributeName="offset" values="0; 0; 3" keyTimes="0; 0.25; 1" dur="2s"
                            repeatCount="indefinite"></animate>
                    </stop>
                </linearGradient>
            </defs>
        </svg>
    </div>
    <div class="svg" *ngIf="loaderType && loaderType === 'nested-list'">
        <svg role="img" width="400" height="100%" aria-labelledby="loading-aria" viewBox="0 0 400 130"
            preserveAspectRatio="none">
            <title id="loading-aria">Loading...</title>
            <rect x="0" y="0" width="100%" height="100%" clip-path="url(#clip-path)" style='fill: url("#fill");'></rect>
            <defs>
                <clipPath id="clip-path">
                    <rect x="0" y="0" rx="3" ry="3" width="250" height="10" />
                    <rect x="20" y="20" rx="3" ry="3" width="220" height="10" />
                    <rect x="20" y="40" rx="3" ry="3" width="170" height="10" />
                    <rect x="0" y="60" rx="3" ry="3" width="250" height="10" />
                    <rect x="20" y="80" rx="3" ry="3" width="200" height="10" />
                    <rect x="20" y="100" rx="3" ry="3" width="80" height="10" />
                </clipPath>
                <linearGradient id="fill">
                    <stop offset="0.599964" stop-color="#f3f3f3" stop-opacity="1">
                        <animate attributeName="offset" values="-2; -2; 1" keyTimes="0; 0.25; 1" dur="2s"
                            repeatCount="indefinite"></animate>
                    </stop>
                    <stop offset="1.59996" stop-color="#ecebeb" stop-opacity="1">
                        <animate attributeName="offset" values="-1; -1; 2" keyTimes="0; 0.25; 1" dur="2s"
                            repeatCount="indefinite"></animate>
                    </stop>
                    <stop offset="2.59996" stop-color="#f3f3f3" stop-opacity="1">
                        <animate attributeName="offset" values="0; 0; 3" keyTimes="0; 0.25; 1" dur="2s"
                            repeatCount="indefinite"></animate>
                    </stop>
                </linearGradient>
            </defs>
        </svg>
    </div>
    <div class="svg" *ngIf="loaderType && loaderType === 'block-content'">
        <svg role="img" width="400" height="260"  viewBox="0 0 319 259" aria-labelledby="loading-aria"
            preserveAspectRatio="none">
            <title id="loading-aria">Loading...</title>
            <rect x="0" y="0" width="100%" height="100%" clip-path="url(#clip-path)" style='fill: url("#fill");'></rect>
            <defs>
                <clipPath id="clip-path">
                    <rect x="9.5" y="9.5" rx="15" ry="15" width="300" height="240" />
                </clipPath>
                <linearGradient id="fill">
                    <stop offset="0.599964" stop-color="#f3f3f3" stop-opacity="1">
                        <animate attributeName="offset" values="-2; -2; 1" keyTimes="0; 0.25; 1" dur="2s"
                            repeatCount="indefinite"></animate>
                    </stop>
                    <stop offset="1.59996" stop-color="#ecebeb" stop-opacity="1">
                        <animate attributeName="offset" values="-1; -1; 2" keyTimes="0; 0.25; 1" dur="2s"
                            repeatCount="indefinite"></animate>
                    </stop>
                    <stop offset="2.59996" stop-color="#f3f3f3" stop-opacity="1">
                        <animate attributeName="offset" values="0; 0; 3" keyTimes="0; 0.25; 1" dur="2s"
                            repeatCount="indefinite"></animate>
                    </stop>
                </linearGradient>
            </defs>
        </svg>
    </div>
</div>

