<div class="entity-info" fxLayout="row" fxLayoutAlign="start center" fxFlex>
  <div class="info name-link" fxFlex="85" fxLayout="row" fxLayoutAlign="start start">
    <span class="list-detail-item" irmsTextOverflow [matMenuTriggerFor]="contactInfo"
      #trigger="matMenuTrigger">{{data.item.fullName}}</span>
  </div>
  <div>
    <mat-icon *ngIf="data.item.email">email</mat-icon>
    <mat-icon *ngIf="data.item.phone">phone</mat-icon>
    <mat-icon *ngIf="data.item.whatsapp" svgIcon="whatsapp"></mat-icon>
  </div>
</div>
<mat-menu #contactInfo="matMenu" xPosition="after" yPosition="below" (mouseleave)="trigger.closeMenu()"
  class="contact-tip">
  <button mat-menu-item>
    <mat-icon>email</mat-icon>
    <span>{{data.item.email  || "-"}}</span>
  </button>
  <button mat-menu-item>
    <mat-icon>phone</mat-icon>
    <span>{{data.item.phone || "-"}}</span>
  </button>
  <button mat-menu-item>
    <mat-icon svgIcon="whatsapp"></mat-icon>
    <span>{{data.item.whatsapp || "-"}}</span>
  </button>
</mat-menu>