@import "../../../../../../constants/variables.scss";
.content-section {
    padding: 10px 10px;
    .content-sub-section {
        padding: 20px 0px;
        .button-input {
            // width: 65%;
            padding: 2%;
            border-radius: 4px;
            margin-top: 10px;
            margin-inline-end: 0px;
            text-align: center;
          }
    }
}
.content-type {
    margin-block-end: 12px;
    .type-chip {
        background-color: $primary-color;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        height: 24px;
        -webkit-box-pack: justify;
        justify-content: space-between;
        border-radius: 4px;
        padding: 0px 7px;
        margin-right: 4px;
        color: $theme-white;
    }
}