<div fxLayout="column" fxLayoutAlign="space-between stretch" fxFill>
    

    <div class="chat">
        <div class="chat-container">
          <div class="user-bar">
            <div class="back">
              <mat-icon>arrow_back</mat-icon>
            </div>
            <div class="sender-avatar">
                <mat-icon class="profile">account_circle</mat-icon>
            </div>
            <div class="name">
              <span>{{sender}}</span>
              <span class="status">online</span>
            </div>
            <div class="actions">
              <mat-icon>more_vert</mat-icon>
            </div>
            <div class="actions ">
              <mat-icon>local_phone</mat-icon>
            </div>
            <div class="actions">
              <mat-icon>videocam</mat-icon>             
            </div>
          </div>
          <div class="conversation">
            <div class="conversation-container" *ngIf="!twoWay">
              <div class="message received" *ngFor="let msg of messages">
                <span id="random" [innerHTML]="msg"></span>
                <span class="metadata"><span class="time"></span></span>
              </div>
            </div>
            <div class="conversation-container" *ngIf="twoWay">
              <div class="message received" [ngClass]="{'received' : msg.type=='received','sent' : msg.type=='sent'}" *ngFor="let msg of messages">
                <span id="random" [innerHtml]="msg.content | whatsappFormat"></span>
                <span class="metadata">
                  <span class="time">{{timeNow | date:'h:mm a'}}</span>
                  <span class="tick" *ngIf="msg.type=='sent'"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" id="msg-dblcheck-ack" x="2063" y="2076"><path d="M15.01 3.316l-.478-.372a.365.365 0 0 0-.51.063L8.666 9.88a.32.32 0 0 1-.484.032l-.358-.325a.32.32 0 0 0-.484.032l-.378.48a.418.418 0 0 0 .036.54l1.32 1.267a.32.32 0 0 0 .484-.034l6.272-8.048a.366.366 0 0 0-.064-.512zm-4.1 0l-.478-.372a.365.365 0 0 0-.51.063L4.566 9.88a.32.32 0 0 1-.484.032L1.892 7.77a.366.366 0 0 0-.516.005l-.423.433a.364.364 0 0 0 .006.514l3.255 3.185a.32.32 0 0 0 .484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z" fill="#4fc3f7"/></svg></span>
                </span>
              </div>
            </div>
            <form class="conversation-compose">
              <div class="emoji">
                <mat-icon class="emoG">mood</mat-icon>
              </div>
              <input [disabled]="true" class="input-msg" name="input" placeholder="Type a message" autocomplete="off" autofocus>
              <div class="photo">
                <!-- <img src="https://i.ibb.co/zNL2yg0/ib-attach.png" alt="" width="25" height="25">
                <img src="https://i.ibb.co/vHXYtHF/ib-camera.png" alt="" width="25" height="25"> -->
                <mat-icon class="textField">attach_file</mat-icon>
                <mat-icon class="textField">camera_alt</mat-icon>
            </div>
              <button class="send">
                  <div class="circle">
                    <mat-icon class="send">send</mat-icon>
                  </div>
                </button>
            </form>
          </div>
        </div>
      </div>

</div>