<div fxLayout="column" fxLayoutAlign="start stretch">
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <h3 class="step-heading">Let's map the columns in your uploaded excel to your desired fields</h3>
        <div fxLayout="row" fxLayoutAlign="space-between center" *ngIf="unmappedCount > 0">
            <span class="unmappedCount">{{unmappedCount}} Unmapped</span>
            <button [id]="'skipUnmapped'" mat-button class="secondary-button" (click)="skipUnmapped()">Skip Unmapped</button>
        </div>
    </div>
    <div *ngIf="headers" class="mapping-parent" fxLayout="column" fxLayoutAlign="start stretch">
        <div *ngFor=" let header of fields.controls; let i = index" class="field-container" fxLayout="column" fxLayoutAlign="start stretch">
            <div class="field-header" fxLayout="row" fxLayoutAlign="space-between center"
            [ngClass]="{'unmapped': !header.controls.mapped.value && !header.controls.skip.value}">
                <span>{{header.controls.title.value}}</span>
                <span *ngIf="header.controls.mapped.value  && !header.controls.skip.value">Mapped</span>
                <span *ngIf="!header.controls.mapped.value && !header.controls.skip.value">Unmapped</span>
                <span *ngIf="header.controls.skip.value">Will not be imported</span>
            </div>
            <div class="mapping-container" fxLayout="column" fxLayoutAlign="start stretch">
                <div class="mapping-area" fxLayout="row" fxLayoutAlign="space-between center">
                    <mat-form-field appearance="outline" >
                        <mat-select [id]="header.controls.title.value+'_map'" (selectionChange)="updateDropdown()" 
                        [formControl]="header.controls['mapped']" [disabled]="header.controls.skip.value">
                            <mat-option *ngFor=" let field of availableFields"
                            [value]="field.title" [disabled]="field.taken" >{{field.title}}</mat-option>
                            <mat-option>
                              <button mat-button class="primary-button" (click)="addNewCustomField(header, i)">Add custom field...</button>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-checkbox [id]="header.controls.title.value+'_skip'" [formControl]="header.controls['skip']"
                    (change)='updateDropdownOnSkip(i)'>Skip Column</mat-checkbox>
                </div>
                <mat-list class="values-preview" *ngIf="previewValues[i] && previewValues[i].length > 0">
                    <mat-list-item *ngFor=" let value of previewValues[i]" irmsTextOverflow> {{value}} </mat-list-item>
                </mat-list>
            </div>
        </div>
    </div>
    <div class="row btn-group" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="1 0 auto" fxFlex="100">
        <div class="btn">
            <button mat-button [routerLink]="['../']" class="secondary2-button" [id]="'cancel'">Cancel</button>
        </div>
        <div class="btn">
            <button mat-button  [id]="'addContact'" [disabled]="unmappedCount > 0 || !isEmailOrPhone"
                class="primary-button" (click)="addContact()">Add Contacts</button>
        </div>
    </div>
</div>