@import "../../../../../constants/variables.scss";
.mapping-parent {
    .field-container {
        .field-header{
            background-color: $secondary-color;
            color: $primary-color;
            font-size: 18px;
            padding: 1em 2em;
            &.unmapped {
                background-color: $warn-color;
            }
        }
        .mapping-container {
            padding: 1em 2em;
            .mapping-area {
                mat-form-field{ 
                    width: 30%;
                }
                border-bottom: $theme-border;
            }
            .values-preview {
                position : relative;
                mat-list-item {
                    border-bottom: $theme-border;
                }
              }
              
            .values-preview:after {
            content  : "";
            position : absolute;
            z-index  : 1;
            bottom   : 0;
            left     : 0;
            pointer-events   : none;
            background-image : linear-gradient(to bottom, 
                                rgba(255,255,255, 0), 
                                rgba(255,255,255, 1) 85%);
            width    : 100%;
            height   : 4em;
            }

        }
    }
}
.unmappedCount {
    margin-inline-end: 10px;
    color: $warn-color;
}