<div class="footer-wrapper" [ngClass]="{'rtl': isArabic, 'only-phone': mockup}" fxLayout="row" fxLayoutAlign="space-between">
  <div class="form-progress" fxFlex="60">
    <span *ngIf="!isArabic" [ngStyle]="{'color': theme.buttons.text}"  class="progress-percent">{{fraction| percent}} Completed</span>
    <span *ngIf="isArabic" [ngStyle]="{'color': theme.buttons.text}"  class="progress-percent"> تم إكمال {{fraction| percent}}</span>
      <mat-progress-bar
      [progressBarColor]="{ 'background' :theme.buttons.text, 'foreground': theme.buttons.background}"
      class="example-margin"
      [mode]="determinate"
      [value]="progressPercent">
  </mat-progress-bar> 
  </div>
  <div class="form-nav-buttons" fxLayout="row" fxLayoutAlign="center center" >
    <div class="button-nav" [ngStyle]="{'background-color': theme.buttons.background}" (click)="gotoPrevious()"><div [ngStyle]="{'border-color': theme.buttons.text}" id="chevron-arrow-left"></div></div>
    <div class="button-nav" [ngStyle]="{'background-color': theme.buttons.background}" (click)="gotoNext()"><div [ngStyle]="{'border-color': theme.buttons.text}" id="chevron-arrow-right"></div></div>
  </div>
</div>