<div class="entity-info" fxLayout="row" fxLayoutAlign="start center" fxFlex>
  <div class="info" fxFlex fxLayout="row" fxLayoutAlign="space-between center">
    <span class="list-detail-item name" fxFlex>{{data.fullName}}</span>
  </div>
  <div class="info" fxFlex fxLayout="row" fxLayoutAlign="space-evenly center">
    <span class="list-detail-item">
      <mat-checkbox [disabled]="!data.email"></mat-checkbox>
    </span>
    <span class="list-detail-item">
      <mat-checkbox [disabled]="!data.sms"></mat-checkbox>
    </span>
    <span class="list-detail-item">
      <mat-checkbox [disabled]="!data.whatsApp"></mat-checkbox>
    </span>
  </div>
</div>