<div fxLayout="column" fxLayoutAlign="space-between stretch" fxFill>
    <div class="sender-header" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="10" >
        <mat-icon>arrow_back</mat-icon>
        <h3 class="name" *ngIf="sender">{{sender}}</h3>
        <h3 class="name" *ngIf="!sender">Sender</h3>
        <mat-icon>more_vert</mat-icon>
    </div>

    <div class="chatbox" fxFlex="80" fxLayout="column" fxLayoutAlign="end stretch" fusePerfectScrollbar>
        <div class="sms-group" fxLayout="column" fxLayoutAlign="end stretch" fxFlex="100"  *ngIf="messages.length > 0">
            <div class="time">
                <p>{{timeNow | date:'EEEE, LLLL d, yyyy'}}</p>
            </div>
            <div id="message" fxLayout="column" fxLayoutAlign="end start">
                <div class="sms-message" *ngFor="let message of messages">
                    <p [innerText]="message"></p>
                </div>
            </div>
        </div>
    </div>

    <div class="reply" id="reply" fxFlex="10" fxLayout="row" fxLayoutAlign="space-between center" >
        <mat-icon>attachment</mat-icon>
        <span fxFlex="80">Enter Message</span>
        <mat-icon>send</mat-icon>
    </div>
</div>