<mat-card class="media-card" [ngClass]="{'disabled': disabled, 'expanded': !disabled && editSms, 'dialogView': isDialog}">
        <mat-card-header>
            <mat-card-title>
                <div  [@mediaCardHeader]="editSms" fxLayout="row">
                    <div fxFlex fxLayoutAlign="{{editSms? 'start center' : 'center center'}}">
                        <mat-icon>sms</mat-icon><span>SMS</span>
                    </div>                    
                    <div fxFlex="70" *ngIf="!disabled && editSms"  fxLayoutAlign="end center" [@animate]="{value:'*',params:{duration:'300ms',x:'200px'}}">
                        <button mat-icon-button [title]="'Save SMS Template'" (click)="smsSave()"><mat-icon>save</mat-icon></button>
                        <button mat-icon-button [title]="'Preview SMS Template'" (click)="smsPreviewMethod()"><mat-icon>remove_red_eye</mat-icon></button>
                        <button *ngIf="!isDialog" mat-icon-button [title]="'Expand view'" (click)="openDialogView(true)"><mat-icon>fullscreen</mat-icon></button>
                        <button *ngIf="isDialog" mat-icon-button [title]="'Minimize view'" (click)="closeDialogView(false)"><mat-icon>fullscreen_exit</mat-icon></button>
                    </div>
                    <!-- <div fxFlex="20">
                        <button mat-button (click)="smsPreview()"><mat-icon>remove_red_eye</mat-icon></button>
                    </div> -->
                </div>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <irms-template-thumbnail *ngIf="disabled || !editSms" [isReview]="isReview" [templateType]="mediaType.Sms" [hasTemplate]="smsTemplate?.sender"
             [toRsvp]="showRsvp" [thumbnail]="smsTemplate?.image"
                [addContentText]="'Add SMS\nContent'" [templateId]="smsTemplate?.id" [disabled]="disabled"
                [onlyEmitOnCreate]="onlyEmitOnCreate" (create)="expandForEdit()" (edit)="expandForEdit()"
                [@expandCollapseHorizontal]="disabled || !editSms"
                ></irms-template-thumbnail>
            <irms-sms-template-expanded-view  *ngIf="!disabled && editSms" 
            [invitationId]="smsTemplate?.id"
            [step]="isReview ? invitationWorkflowStep.Rejected : step"
            [@expandCollapseHorizontal]="!disabled && editSms" [isDialog]="isDialog"
            ></irms-sms-template-expanded-view>
        </mat-card-content>
    </mat-card>