@import "../../../../../../../constants/variables.scss";
.group {
    margin: 20px;
}

.btns{
    margin-top: 10px;
    padding-right: 10px;
}

.list-container{
    max-height: 40vh;
    overflow-y:auto;
    border: solid 1px #ccc;
    min-height: 60px;
    border-radius: 4px;
    display: block;
}

::ng-deep .mat-pseudo-checkbox-checked{
        background: $accent-color !important;
}

.list-col {
    padding: 0 22px;
}

.field-box {
  padding: 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  min-height: 60px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 1;
}
.custom-placeholder {
    background: #ccc;
    border: dotted 3px #999;
    min-height: 60px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.field-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .field-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}