<div id="sms-designer">
    <!-- NAVBAR-->
    <irms-sms-designer-navbar (sendTestSms)="sendTestSms()"></irms-sms-designer-navbar>
    <!-- / NAVBAR -->
  <div class="container" fusePerfectScrollbar
  [fusePerfectScrollbarOptions]="{suppressScrollX: true, updateOnRouteChange : true}">
  <!-- CONTENT -->
  <content></content>
  <!-- / CONTENT -->
  </div>
  </div>