<div *ngIf="!editInfoMode && model" [@animate]="{value:'*',params:{y:'100%'}}">
    <div fxLayout="column" fxLayoutAlign="start" class="view-only" fxFlex="70">
        <span fxLayout="row" fxLayoutAlign="end start" fxFlex="1 0 auto">
            <button mat-icon-button class="edit-button" (click)="editInfo()">
                <mat-icon>edit</mat-icon>
            </button>
        </span>
        <div fxLayout="row" fxLayoutAlign="space-between start" fxFlex="1 0 auto">
            <div class="thumbnail" *ngIf="model && model.imagePath">
                <irms-image [image]="model.imagePath"></irms-image>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" fxFlex="1 0 auto">
            <mat-label fxFlex="20">Event Name</mat-label>
            <div fxFlex="80" class="value">{{model.name}}</div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-label fxFlex="20">Event Type</mat-label>
            <div fxFlex="80" class="value" *ngIf="model.eventType; else noValue">{{model.eventType?.value}}</div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-label fxFlex="20">Attendees</mat-label>
            <div fxFlex="80" class="value" *ngIf="model.isLimitedAttendees">Limited</div>
            <div fxFlex="80" class="value" *ngIf="!model.isLimitedAttendees">Unlimited</div>
            <!-- <mat-radio-group fxFlex="80" aria-label="attendees" [ngModel]="model.isLimitedAttendees">
                <mat-radio-button [value]="true" disabled>Limited</mat-radio-button>
                <mat-radio-button [value]="false" disabled>Unlimited</mat-radio-button>
            </mat-radio-group> -->
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" *ngIf="model.isLimitedAttendees">
            <mat-label fxFlex="20">Max Attendees</mat-label>
            <div fxFlex="80" class="value">{{model.maximumAttendees}}</div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" *ngIf="model.isLimitedAttendees">
            <mat-label fxFlex="20">Overflow Attendees</mat-label>
            <div fxFlex="80" class="value" *ngIf="model.overflowAttendees; else noValue">{{model.overflowAttendees}}</div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-label fxFlex="20">Duration</mat-label>
            <div fxFlex="80" class="value">{{model.startDateTime | dateTimeFormat}} ~
                {{model.endDateTime | dateTimeFormat}}</div>
        </div>
        <!-- <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-label fxFlex="20">Time Zone</mat-label>
            <div fxFlex="80" class="value">{{model.timeZoneUtcOffset}}
                {{model.timeZoneName}}</div>
        </div> -->
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-label fxFlex="20">Location</mat-label>
            <div fxFlex="80" class="value">{{model.locationName}}</div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-label fxFlex="20">City</mat-label>
            <div fxFlex="80" class="value" *ngIf="model.city; else noValue">{{model.city}}</div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-label fxFlex="20">Region</mat-label>
            <div fxFlex="80" class="value" *ngIf="model.region; else noValue">{{model.region}}</div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-label fxFlex="20">Zip/Postal code</mat-label>
            <div fxFlex="80" class="value" *ngIf="model.zipCode; else noValue">{{model.zipCode}}</div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-label fxFlex="20">Country</mat-label>
            <div fxFlex="80" class="value" *ngIf="model.country; else noValue">{{model.country}}</div>
        </div>
    </div>
</div>
<div *ngIf="editInfoMode" [@animate]="{value:'*',params:{y:'100%'}}">
    <form fxLayout="column" fxLayoutAlign="start" [formGroup]="infoForm">
        <div class="row row_uploader form-field-wrapper" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <div class="upload-btn" *ngIf="!infoForm.controls['image'].value">
            <irms-croppie-btn [title]="'Upload image'" [inputControl]="infoForm.controls['image']"
            [outputSize]="{width: '400', height: '400'}">
            </irms-croppie-btn>
            </div>
            <div *ngIf="infoForm.controls['image'].value" class="imageThumbnail"
            [style.background]="'url('+infoForm.controls['image'].value+')'">
                <button *ngIf="infoForm.controls['image'].value" mat-icon-button #deleteImage (click)="deleteEventImage()"
                    class="secondary2-button negative">
                    <mat-icon>cancel</mat-icon>
                </button>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <irms-input-error [fieldLabel]="'Event name'" [inputControl]="infoForm.controls['name']"
                [errorRangeText]="'Event Name must be between 2 and 200 characters.'" [charactersCount]="200"
                [required]="true" fxFlex="100">
            </irms-input-error>
        </div>
        <!-- <div class="row row_uploader form-field-wrapper" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <div class="upload-btn">
                <irms-croppie-btn [title]="'Upload image'" [inputControl]="infoForm.controls['image']">
                </irms-croppie-btn>
            </div>
            <div class="thumbnail" *ngIf="infoForm.controls['image'].value">
                <irms-image [image]="infoForm.controls['image'].value"></irms-image>
            </div>
        </div> -->
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field fxFlex="100" appearance="outline">
                <mat-label>
                    Event Type
                </mat-label>
                <mat-select [formControl]="infoForm.controls['eventTypeId']">
                    <mat-option *ngFor="let type of eventTypes" [value]="type.id">
                        {{type.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <div fxLayout="column" class="form-field-wrapper">
                <h3>Attendees</h3>
                <mat-radio-group aria-label="attendees" [formControl]="infoForm.controls['isLimitedAttendees']"
                    required>
                    <mat-radio-button [value]="true">Limited</mat-radio-button>
                    <mat-radio-button [value]="false">Unlimited</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto"
            *ngIf="infoForm.controls['isLimitedAttendees'].value">
            <mat-form-field fxFlex="50" appearance="outline">
                <mat-label>Max Attendees</mat-label>
                <input matInput [formControl]="infoForm.controls['maximumAttendees']" type="text">
                <mat-error *ngIf="infoForm.controls['maximumAttendees'].hasError('required')">
                    Please enter max attendees
                </mat-error>
                <mat-error *ngIf="infoForm.controls['maximumAttendees'].hasError('pattern')">
                    Please enter a valid number.
                </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="50" appearance="outline">
                <mat-label>Overflow Attendees</mat-label>
                <input matInput [formControl]="infoForm.controls['overflowAttendees']" type="text">
                <mat-error *ngIf="infoForm.controls['overflowAttendees'].hasError('pattern')">
                    Please enter a valid number.
                </mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field fxFlex="100" appearance="outline">
                <mat-label>
                    Duration
                </mat-label>
                <input matInput [owlDateTimeTrigger]="dt12" [formControl]="infoForm.controls['duration']"
                    [owlDateTime]="dt12" (dateTimeChange)="durationChanged($event)" [selectMode]="'range'" required
                    autocomplete="off">
                <owl-date-time #dt12></owl-date-time>
                <mat-error *ngIf="infoForm.controls['duration'].hasError('required')">
                    Please enter a duration.
                </mat-error>
            </mat-form-field>
        </div>
        <!-- <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field fxFlex="100" appearance="outline">
                <mat-label>
                    Time Zone
                </mat-label>
                <mat-select [formControl]="infoForm.controls['timeZoneName']" required>
                    <mat-option *ngFor="let zone of timeZones" [value]="zone.id">
                        {{zone.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div> -->
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field fxFlex="100" appearance="outline" fxFlex="1 0 auto">
                <mat-label>Event Location</mat-label>
                <mat-icon matPrefix svgIcon="search_location"></mat-icon>
                <input #locationSearch [formControl]="infoForm.controls['locationSearch']" matInput type="text"
                    autocorrect="off" autocapitalize="off" spellcheck="off" required>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="address-view" fxLayoutGap="10px grid">
            <div #mapContainer class="map" fxFlex="50" fxLayout="column">
                <agm-map fxFlex="100" [latitude]='model.latitude' [longitude]='model.longitude' [zoom]='18'
                    [styles]="mapStyle" (mapClick)="getLocation($event)">
                    <agm-marker [latitude]="model.latitude" [longitude]="model.longitude">
                    </agm-marker>
                </agm-map>
            </div>
            <div class="address info-tip card-padding" fxFlex="50" fxLayout="column">
                <mat-form-field fxFlex="100">
                    <mat-label>Location</mat-label>
                    <input matInput [formControl]="infoForm.controls['location']" type="text" [readonly]="true">
                </mat-form-field>
                <mat-form-field fxFlex="100">
                    <mat-label>City</mat-label>
                    <input matInput [formControl]="infoForm.controls['city']" type="text" [readonly]="true">
                </mat-form-field>
                <div fxFlex="100" fxLayout="row">
                    <mat-form-field fxFlex="60">
                        <mat-label>Region</mat-label>
                        <input matInput [formControl]="infoForm.controls['region']" type="text" [readonly]="true">
                    </mat-form-field>
                    <mat-form-field fxFlex="40">
                        <mat-label>Zip/Postal code</mat-label>
                        <input matInput [formControl]="infoForm.controls['zipCode']" type="text" [readonly]="true">
                    </mat-form-field>
                </div>
                <mat-form-field fxFlex="100">
                    <mat-label>Country</mat-label>
                    <input matInput [formControl]="infoForm.controls['country']" type="text" [readonly]="true">
                </mat-form-field>
            </div>
        </div>
        <div class="row btn-group" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="1 0 auto" fxFlex="100">
            <div class="btn">
                <button mat-button class="secondary-button" (click)="viewEventInfo()">Back</button>
                <button mat-button [disabled]="loading" class="primary-button"
                    (click)="updateEventInfo()" [irmsButtonLoader]="loading"><span>Save Changes</span></button>
            </div>
        </div>
    </form>
</div>
<ng-template #noValue>
    <div fxFlex="80" class="noValue value">-</div>
</ng-template>