<div id="login" fxLayout="column" fusePerfectScrollbar>
  <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="start center">
    <div id="login-form" *fuseIfOnDom [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

      <div class="logo">
        <img *ngIf="!logoLink && !logoLoad" src="assets/images/logos/fuse.svg">
        <img *ngIf="logoLink && !logoLoad" [src]="logoLink">
      </div>
      <div *ngIf="!success">
        <div class="title">Enter your authentication code</div>
        <p>Please enter the code which has been sent to the mobile number associated to your account, {{phoneNum}}</p>
        <form name="otpForm" [formGroup]="otpForm" (ngSubmit)="veirfyOtp()">
          <div class="align-center">
            <input class="partitioned" type="text" formControlName="otpCode" maxlength="4" autofocus
              placeholder="****" />
          </div>
          <button mat-raised-button type="submit" class="submit-button primary-button" aria-label="LOG IN"
            [disabled]="otpForm.invalid || (otpForm.controls.otpCode.value.length != 4 )">
            LOGIN
          </button>
          <div *ngIf="enableResend" class="remember-forgot-password">
            <a class="forgot-password" [routerLink]="" (click)="resendOtp()">
              Resend the code
            </a>
          </div>
          <div *ngIf="!enableResend" class="remember-forgot-password">
            <p>{{timeLeft}} Seconds left...</p>
          </div>
        </form>
      </div>
      <div class="enter-code" *ngIf="success">
        <h1 class="action-message"><mat-icon class="confirmation">done_all</mat-icon></h1>
        <h2 class="action-message">Your password has been set successfully.</h2>
        <h3 class="action-message"><a href="/account/login">Click here to return to login</a>.</h3>
      </div>
    </div>

  </div>

</div>