.disabled-list{
  margin-right: 7px;
}

.contact{
  min-width: 100%;
  max-width: 100%;
  width: 100%;
}
.name{
  min-width: 65%;
  max-width: 65%;
  width: 65%;
}
.icons{
  min-width: 20%;
  max-width: 20%;
  width: 20%;
}