<div id="content-layout" class="page-layout carded fullwidth">
    <!-- TOP BACKGROUND -->
    <div class="top-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div class="header" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center">
            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon [routerLink]="['../']" class="cursor-pointer logo-icon s-32 mr-16" [@animate]="{
                    value: '*',
                    params: { delay: '50ms', scale: '0.2' }
                }">
                        arrow_back
                </mat-icon>
                <span class="logo-text h1" [@animate]="{
                            value: '*',
                            params: { delay: '100ms', x: '-25px' }
                        }">
                    {{formName}}
                </span>
            </div>
            <!-- / APP TITLE -->
        </div>
        <!-- / HEADER -->
        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg generic-content-card">
            <!-- CONTENT -->
            <div class="content-area" fxLayout="column" fxFill>
                <nav mat-tab-nav-bar>
                    <a mat-tab-link
                    *ngFor="let tab of tabGroup"
                    [routerLink]="tab.link"
                    routerLinkActive #rla="routerLinkActive"
                    [active]="rla.isActive">
                    <mat-icon class="tab-icon">{{tab.icon}}</mat-icon>
                    {{tab.label}}
                    <span *ngIf="tab.label === 'Responses'" class="responses-count">[{{responsesCount || '-'}}]</span>
                    </a>
                    </nav>
                    <router-outlet></router-outlet>
            </div>
            <!-- / CONTENT -->
        </div>
        <!-- / CONTENT CARD -->
    </div>
</div>
