@import "../../../../../../../constants/variables.scss";
.action-item {
    -ms-flex-order: 0;
    order: 0;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.invitations-block {
    margin-bottom: 16px;   
    margin-top: -40px;
}
.invitation-medium-part {
    margin: 10px 10px;
    // position: absolute;
    // top: -29px;
    // left: -21px;

    &.hierarchical {
        position: absolute;
        top: 8px !important;
        left: -21px;

    }
}
.stats-dropdown {
    ::ng-deep .mat-form-field-wrapper {
        padding-bottom: 0 !important;
        background: white;
        margin-top:30px;
        position: absolute;
        width: 80%;
        margin-left: 10%;
        top: 1.5em;
    }
}
.stats-container {
    
    .stats-collection {
        border: $theme-box-border;
        border-radius: 6px;
        margin-top: 55px;
        min-height: 240px;
        padding-top: 30px;
    }    
}
.mat-flat-button.secondary-button {
    min-width: 40%;
}
.glyph-icon{
    margin-right: 8px;
}
.title {
    text-align: left;
    width: 15vw;
}
.title, .guests {
    margin-block-start: 3px;
    margin-block-end: 3px;
}
.date {
    text-align: left;
}
.glyph-icon.scaled {
    transform: scale(-1, 1)
}
.hierarchy-wrapper {    
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    position: absolute;
        top: 5px;

    &.email {
        top: 30px;
    }

    &.whatsapp {
        top: 110px;
    }
}
.main-wrapper {
    position: relative;

    &.pending {
        margin-left: -50px;
    }
}

.subheading{
    margin-top:20px;
    font-weight: bold;
}

.firstLive{
    margin-top: 45px;
}

.hierarchy-line {
    position: absolute;
    border-radius: 0 0 0 60%;
    border: 1px dashed black;
    border-top: transparent;
    border-right: transparent;
    height: 38px;
    width: 34px;
    top: 32px;
    &.bottom {
        top: 52px;
    }
    &.whatsapp{
        top: 30px;
    }
}


.hierarchical-inner-icons-wrapper {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: -47px;
    bottom: -13px;
    .hierarchical {
        margin-left: 10px;
    }
}

