<div class="entity-info" fxLayout="row" fxLayoutAlign="start center" fxFlex>
    <div class="info" fxFlex fxLayout="row" fxLayoutAlign="space-between center" (click)="navigateToGuestList()">
      <p class="list-detail-item name" fxFlex fxLayout="row" fxLayoutAlign="start center">
          <mat-icon class="locked" *ngIf="data.isReadonly">lock_filled</mat-icon><mat-icon class="locked" *ngIf="data.isLive">data_usage</mat-icon><span irmsTextOverflow>{{data.name}}</span></p>
      <p class="list-detail-item" fxFlex>{{data.count}}</p>
      <p class="list-detail-item" fxFlex>
        <button mat-icon-button [matMenuTriggerFor]="actionMenu" aria-label="Action" (click)="$event.stopPropagation();">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #actionMenu="matMenu">
            <button mat-menu-item (click)="rename()" *ngIf="!data.isReadonly">
                <mat-icon>edit</mat-icon>
              <span>Rename</span>
            </button>
            <button mat-menu-item (click)="export()">
                <mat-icon>save_alt</mat-icon>
              <span>Export</span>
            </button>
            <button mat-menu-item (click)="delete()" *ngIf="!data.isReadonly">
                <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
            <button mat-menu-item [routerLink]="data.id+'/import-analysis'" *ngIf="!data.isLive">
              <mat-icon>data_usage</mat-icon>
            <span>List Analysis</span>
          </button>
          </mat-menu>
      </p>
    </div>
  </div>