<div class="input-control">
    <input [ngStyle]="{'color': theme.answers.color}" autofocus type="text" (focus)="setAsCurrent()" id="{{question.id}}" [formControl]="inputControl"
    ng2TelInput  class="swipperForm_input"
    [ng2TelInputOptions]="phoneConfig"
    (hasError)="hasError($event)" (ng2TelOutput)="getNumber($event)"
    (keypress)="onPressEnter($event)" [required] = "question.required"/>
    <div class = "error-message" *ngIf = "inputControl.hasError('required') && inputControl.dirty">
            <span *ngIf="isArabic">هذا الحقل مطلوب</span>
            <span *ngIf="!isArabic">Please fill this in</span>
        </div>
        <div class="error-message" *ngIf = "!inputControl.valid && !inputControl.hasError('required') && inputControl.dirty">
                <span *ngIf="isArabic">هذا لا يبدو صحيحاً</span>
                <span *ngIf="!isArabic">Hmm...This doesn't seem valid</span>
        </div>
        <irms-continue-button [isArabic]="isArabic" [theme] = "theme.buttons" *ngIf="inputControl.valid && inputControl.dirty && !reviewMode" (next)="gotoNext()"></irms-continue-button>
</div>
