<div class="flow-container" fxLayout="column" fusePerfectScrollbar
    [fusePerfectScrollbarOptions]="{suppressScrollX: true}">
    <a class="parent campaign-node" fxLayout="column" fxLayoutAlign="center stretch">
        <div class="icon-square" fxLayout="row" fxLayoutAlign="center center">
            <div class="icon">
                <mat-icon>{{parentIcon}}</mat-icon>
            </div>
        </div>
        <span class="node-label">{{parentText}}</span>
    </a>
    <div *ngIf="flowNodes?.length > 0">
        <div class="node-container" *ngFor="let node of flowNodes; let i = index" fxLayout="column"
            fxLayoutAlign="center stretch" id='node{{i}}'>
            <span class="arrow">
                <svg width="11" height="45" xmlns="http://www.w3.org/2000/svg">
                    <g>
                        <line stroke-linecap="undefined" stroke-linejoin="undefined" id="svg_1" y2="35" x2="5.464285" y1="0"
                            x1="5.464285" stroke-width="1.5" stroke="#000" fill="none" />
                        <path stroke="#000" transform="rotate(-180 5.464285850524902,50.8858871459961) " id="svg_2"
                            d="m0.75,74.082316l4.714286,-8.392863l4.714286,8.392863l-9.428572,0z" stroke-opacity="null"
                            stroke-width="1.5" fill="#000000" />
                    </g>
                </svg>
            </span>
            <div fxLayout="row">
                <a [routerLink]="node.id" [routerLinkActive]="['active']" class="campaign-node" fxLayout="column"
                    fxLayoutAlign="center stretch">
                    <div class="icon-square" fxLayout="row" fxLayoutAlign="center center">
                        <div class="icon">
                            <mat-icon *ngIf="!node.isInstant">access_time</mat-icon>
                            <mat-icon *ngIf="node.isInstant">offline_bolt</mat-icon>
                        </div>
                    </div>
                    <span class="node-label" irmsTextOverflow>{{node?.title}}</span>
                    <mat-hint *ngIf="node.interval" class="delay">After {{node.interval}}
                        {{timePeriodUnits[node.intervalType]}}</mat-hint>
                    <mat-hint *ngIf="!node.interval" class="delay">Instantly</mat-hint>
                </a>
                <div class="control-buttons" fxLayout="column" fxLayoutAlign="center stretch" *ngIf="!readonly">
                    <button mat-icon-button class="copy" id='copyNode{{i}}' (click)="copyNode(node.id)">
                        <mat-icon>filter_none</mat-icon>
                    </button>
                    <button mat-icon-button class="delete" id='deleteNode{{i}}' (click)="deleteNode(node.id)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="flowNodes?.length === 0" fxLayout="row" fxLayoutAlign="center center" class="add-message">
        <mat-hint>{{emptyText}}</mat-hint>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-flat-button class="secondary-button round-button" id='addNode' (click)="addNode()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>