@import "../../../../../../../constants/variables.scss";

#addNode {
    margin-inline-end: 0px !important;
    margin-block-start: 12px;
}
.add-message {
    margin-block-start: 10px;
    font-weight: 700;
    width: 150px;
    text-align: center;
}
.flow-container {
    padding: 25px 35px 10px 10px;
    height: 70vh;
    overflow-y: auto;

    .campaign-node {
        text-decoration: none !important;
        width: 150px;
        min-height: 85px;
        border-radius: 7px;
        color: $accent-color;
        border: 1px solid $accent-color;
        text-align: center;
        position: relative;
        padding: 0 0.5em;
        &.active {
            background-color: $accent-color !important;
            color: $theme-white !important;

            * {
                color: $theme-white !important;

            }
            .icon-square .icon {
                background-color: $accent-color !important;
                border-color: $theme-white !important;
            }
        }

        &.parent {
            background-color: $disable-color;
            color: $primary-color;
            border-color: $primary-color;

            .icon-square .icon {
                background-color: $disable-color;
                border-color: $primary-color !important;
                color: $primary-color !important;
            }
        }
        .delay {
            font-style: italic;
        }

        .icon-square {
            position: absolute;
            left: 50%;
            top: -14px;
            transform: translateX(-50%);

            .icon {
                background-color: $theme-white;
                border-color: $accent-color !important;
                color: $accent-color;
                width: 29px;
                height: 29px;
                padding: 2px 1px;
                border-radius: 7px;
                border: 1px solid;
                transform: rotate(45deg);

                mat-icon {
                    transform: rotate(-45deg);
                }
            }
        }


    }
}

.node-container {
    position: relative;
    &:hover{
        .control-buttons {
            display: flex !important;
        }
    }
    .control-buttons {
        position: absolute;
        display: none !important;
        right: -21%;
        .copy mat-icon {
            font-size: 16px;
        }
        .delete mat-icon {
            font-size: 20px;
            color: $warn-color;
        }
    }
}

.arrow {
    text-align: center;
    margin-block-end: 3px;
    svg {
        g line,
        g path {
            fill: $primary-color;
            stroke: $primary-color;
        }
        g line,
        g path {
            stroke-miterlimit: 10;
        }
    }
}