@import "../../../../constants/variables.scss";

:host {
    width: 100%;
    // padding: 16px 6%;
}

.tags-section,
.content {
    margin-block-end: 16px;
    margin-block-start: 16px;
    padding: 16px;
    border: $theme-box-border;
    background-color: $theme-white;
    height: auto;
    min-width: 100%;

    code {
        color: black !important;
        background-color: none;
    }
}

::ng-deep textarea.mat-input-element.cdk-textarea-autosize,
.content {
    resize: none;
    height: 200px !important;
    max-width: 60vw;
}

.chips {
    height: 97px;
    width: 80vw;
    overflow-y: scroll;

    .chip2 {
        margin: 5px;
        list-style: none;

        &:hover,
        &.selected {
            cursor: pointer;
        }
    }
}

::ng-deep .buttonToggle {
    border: .5px solid rgba(0, 0, 0, 0.12) !important;
}

::ng-deep .mat-input-element:disabled {
    color: black !important;
}

// ::ng-deep{
//   .mat-form-field-flex{
//     padding-top:0px !important;
//   }
//   .mat-form-field-wrapper{
//     // padding-bottom: 0px !important;
//   }
// }

::ng-deep .mat-form-field-appearance-standard {
    .mat-form-field-wrapper {

        // padding-bottom: 0;
        .mat-form-field-flex {
            padding-top: 0;

            .mat-form-field-infix {
                border-top: none;
            }
        }
    }
}

// ::ng-deep mat-form-field{
//   max-height:100px;
// }
// ::ng-deep .mat-form-field-infix{
//   margin-top: -11px;
// }
// ::ng-deep .mat-form-field-wrapper {

//   max-height: 40px;
// }

.buttonContainer {
    min-width: 100%;

    .primary-button {
        min-height: 40px !important;
    }
}

.buttonWidth {
    min-width: 5vw;
}