<h5 mat-dialog-title><a class="dialog-exit-link" (click)="closeDialog(null)">Back</a></h5>
<h2 mat-dialog-title><mat-icon svgIcon="whatsapp"></mat-icon>WhatsApp Workflow</h2>

<mat-dialog-content class="content" fxLayout="column" >
    <div class="info-tip" fxLayout="row">
        <mat-icon>info</mat-icon>
        <div class="info-text">Please note: Before you can proactively reach out to your guests you first need to get their permission and get them to opt-in.</div>
    </div>
    <h2>Select an option to configure your WhatsApp Invitation workflow</h2>
    <div class="bot-options-group" fxLayout="column" fxLayoutAlign="start" >
        <button mat-flat-button class="primary-button" (click)="closeDialog('template')" ><mat-icon>chrome_reader_mode</mat-icon><span>Predefined Template</span></button>
        <button mat-flat-button class="primary-button" (click)="closeDialog('bot')" ><mat-icon svgIcon="bot"></mat-icon><span>Bot Message</span></button>
    </div>
</mat-dialog-content>

<!-- 
<mat-dialog-actions *ngIf="!sendTest">
  <button class="mat-flat-button secondary-button" (click)="close()">Cancel</button>
  <button mat-flat-button class="primary-button" (click)="sendTest=!sendTest" >Send Test</button>
</mat-dialog-actions> -->