<div fxLayout="column" class="whatsapp-editor" ngClass="{'disabled-controls': disabled}">
  <mat-form-field fxFlex="100" appearance="outline" class="editor">
    <mat-label>{{fieldLabel}}</mat-label>
    <textarea #whatsappTextArea matInput [formControl]="inputControl" matTextareaAutosize matAutosizeMinRows="minRows"
      matAutosizeMaxRows="maxRows" type='text' [required]="required" (select)="selectionchange($event)"
      [placeholder]="placeholder" (blur)="handleBlur($event)" (click)="selectionchange($event)"
      (keyup)="selectionchange($event)"></textarea>
    <mat-error *ngIf="inputControl.hasError('required')">
      This input field cannot be empty
    </mat-error>
    <mat-error *ngIf="errorRangeText && inputControl.hasError('minlength') || inputControl.hasError('maxlength')">
      {{errorRangeText}}
    </mat-error>
    <mat-error *ngIf="!errorRangeText && inputControl.hasError('minlength')">
      Too short
    </mat-error>
    <mat-error *ngIf="!errorRangeText && inputControl.hasError('maxlength')">
      You have reached the maximum numbers of allowed characters
    </mat-error>
    <mat-error *ngIf="inputControl.hasError('pattern')">
      {{errorPatternText}}
    </mat-error>
    <ng-content></ng-content>
  </mat-form-field>  
  <div fxLayoutAlign="end end" class="format-options" >
    <button mat-flat-button class="first" (click)="format('bold')" [disabled]="disabled">
      <mat-icon>format_bold</mat-icon>
    </button>
    <button mat-flat-button class="mid" (click)="format('italic')" [disabled]="disabled">
      <mat-icon>format_italic</mat-icon>
    </button>
    <button mat-flat-button class="mid" (click)="format('strikethrough')" [disabled]="disabled">
      <mat-icon>strikethrough_s</mat-icon>
    </button>
    <button mat-flat-button class="mid" (click)="format('monospace')" [disabled]="disabled">
      <mat-icon>code</mat-icon>
    </button>
    <button mat-flat-button class="last" disabled>
      <mat-icon>😀</mat-icon>
    </button>
  </div>
</div>