<div id="content-layout" class="page-layout carded fullwidth inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center" fxLayout="column">
        <!-- HEADER -->
        <div class="header" fxLayout="row" fxLayoutAlign="center center" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center">
            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="center center" fxFlex="100">
                <span fxFlex="90" class="logo-text h1 section-heading" [@animate]="{
                            value: '*',
                            params: { delay: '100ms', y: '25px' }
                        }">
                    <h1>You're All Set!</h1>
                    <h2>Your Campaign is ready to be sent</h2>
                    <!-- <mat-hint>
                        <h3>Review the summary below before sending the campaign</h3>
                    </mat-hint> -->
                </span>
            </div>
            <!-- / APP TITLE -->
        </div>
        <!-- / HEADER -->
        <div class="top-btn" fxLayoutAlign="center center" [@animate]="{
            value: '*',
            params: { delay: '100ms', y: '25px' }
        }">
            <button mat-button class="secondary-button" (click)="sendTestCampaign()" id="send_test_button">Send a
                Test</button>
            <button mat-button class="primary-button" (click)="goLive()" id="go_live_button">Go Live</button>
        </div>
        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg generic-content-card">

            <!-- CONTENT -->
            <div class="content-area" fxLayout="column" fxFill [@animate]="{
                value: '*',
                params: { delay: '100ms', y: '25px' }
            }">
                <div fxLayout="column" fxLayoutAlign="center center" *ngIf="summary.stats">
                    <div class="info-tip" fxLayout="row">
                        <mat-icon>access_time</mat-icon>
                        <div class="info-text" fxLayout="column" fxLayoutAlign="start center" fxFlex="98">
                            <h3>You are about to send a campaign to :<span
                                    class="guest-count">{{summary.stats.guestCount}}
                                    Guests</span></h3>
                            <div fxLayout="row" fxLayoutAlign="center center" class="guest-media-count">
                                <div fxLayout="row" fxLayoutAlign="space-evenly center" class="media-stats"
                                    fxFlex="100">
                                    <div fxLayout="column" fxLayoutAlign="start center" class="media-stat-item">
                                        <div fxLayout="column" fxLayoutAlign="start center">
                                            <mat-icon>email</mat-icon>
                                            <span class="medium">EMAIL</span>
                                        </div>
                                        <span class="value">{{summary.stats.emailCount}}</span>
                                    </div>
                                    <div fxLayout="column" fxLayoutAlign="start center" class="media-stat-item">
                                        <div fxLayout="column" fxLayoutAlign="start center">
                                            <mat-icon>sms</mat-icon>
                                            <span class="medium">SMS</span>
                                        </div>
                                        <span class="value">{{summary.stats.smsCount}}</span>
                                    </div>
                                    <div fxLayout="column" fxLayoutAlign="start center" class="media-stat-item">
                                        <div fxLayout="column" fxLayoutAlign="start center">
                                            <mat-icon svgIcon="whatsapp"></mat-icon>
                                            <span class="medium">WHATSAPP</span>
                                        </div>
                                        <span class="value">{{summary.stats.whatsAppCount}}</span>
                                    </div>
                                </div>
                            </div>
                            <h3>The expected time to send the invitation based on your guest list is : <span
                                    class="send-time">{{summary.stats.sendTime}} Minutes</span></h3>
                        </div>
                    </div>
                </div>
                <div class="summary-container" fxLayout="column" [@animate]="{
                    value: '*',
                    params: { delay: '50ms', scale: '0.2' }
                }">
                    <mat-card class="summary-step">
                        <mat-card-header>
                            <mat-card-title>
                                <div fxLayout="row" fxLayoutAlign="space-between center">
                                    <div class="step-title" fxLayout="row" fxLayoutAlign="start center">
                                        <mat-icon>insert_invitation</mat-icon>
                                        <span>Invitation (RSVP)</span>
                                    </div>
                                    <div class="step-link"><a id="link_to_invitation"
                                            [routerLink]="['../invitation']">Return to this
                                            step</a></div>
                                </div>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <div fxLayout="column" fxLayoutAlign="start start">
                                <div>Your Invitation will be sent
                                    <span *ngIf="summary.invitation?.isInstant" class="value"> Instantly</span>
                                    <span *ngIf="!summary.invitation?.isInstant" class="value">at
                                        {{summary.invitation?.startDate | dateFormat}} at
                                        {{summary.invitation?.startDate | date: 'hh:mm a' }}
                                    </span>
                                </div>
                                <mat-error *ngIf="summary.invitation?.isPastDate">Invitation date is past, please update it
                                    <a id="link_to_invitation_date_error" [routerLink]="['../invitation']">here</a>
                                </mat-error>
                                <div class="templates-chip" fxLayout="row" fxLayoutAlign="space-between center">
                                    <mat-icon *ngIf="summary.invitation?.isEmail">email</mat-icon>
                                    <mat-icon *ngIf="summary.invitation?.isSms">sms</mat-icon>
                                    <mat-icon *ngIf="summary.invitation?.isWhatsapp" svgIcon="whatsapp"></mat-icon>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                    <mat-card class="summary-step" *ngIf="summary.pending">
                        <mat-card-header>
                            <mat-card-title>
                                <div fxLayout="row" fxLayoutAlign="space-between center">
                                    <div class="step-title" fxLayout="row" fxLayoutAlign="start center">
                                        <mat-icon>timer</mat-icon>
                                        <span>Guests who are still pending, will receive: </span>
                                    </div>
                                    <div class="step-link"><a id="link_to_invitation_pending"
                                            [routerLink]="['../invitation-pending']">Return to
                                            this step</a></div>
                                </div>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <div fxLayout="column">
                                <div class="flow-node" *ngFor="let node of summary.pending" fxLayout="row"
                                    fxLayoutAlign="start start" fxFlex="1 0 auto">
                                    <div *ngIf="node.isInstant" fxFlex="30">
                                        <span class="value">
                                            Instantly
                                        </span>
                                    </div>
                                    <div *ngIf="!node.isInstant" fxFlex="30">
                                        After <span class="value">
                                            {{node.interval}}
                                            {{timePeriodUnits[node.intervalType]}}
                                        </span>
                                    </div>
                                    <div fxLayout="column" fxLayoutAlign="start start">
                                        <div class="value">{{node.title}}</div>
                                        <div class="templates-chip" fxLayout="row" fxLayoutAlign="space-between center"
                                            *ngIf="node.IsEmail || node.isSms || node.isWhatsapp">
                                            <mat-icon *ngIf="node.isEmail">email</mat-icon>
                                            <mat-icon *ngIf="node.isSms">sms</mat-icon>
                                            <mat-icon *ngIf="node.isWhatsapp" svgIcon="whatsapp"></mat-icon>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                    <mat-card class="summary-step" *ngIf="summary.accepted">
                        <mat-card-header>
                            <mat-card-title>
                                <div fxLayout="row" fxLayoutAlign="space-between center">
                                    <div class="step-title" fxLayout="row" fxLayoutAlign="start center">
                                        <mat-icon>check_circle_outline</mat-icon>
                                        <span>Guests who accepted the invitation, will receive: </span>
                                    </div>
                                    <div class="step-link"><a id="link_to_invitation_accepted"
                                            [routerLink]="['../invitation-accepted']">Return to
                                            this step</a></div>
                                </div>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <div fxLayout="column">
                                <div class="flow-node" *ngFor="let node of summary.accepted" fxLayout="row"
                                    fxLayoutAlign="start start" fxFlex="1 0 auto">
                                    <div fxFlex="30" *ngIf="!node.isInstant">
                                        After <span class="value">
                                            {{node.interval}}
                                            {{timePeriodUnits[node.intervalType]}}
                                        </span>
                                    </div>
                                    <div fxFlex="30" *ngIf="node.isInstant">
                                        <span class="value">
                                            Instantly
                                        </span>, as soon as they accept
                                    </div>
                                    <div fxLayout="column" fxLayoutAlign="start start">
                                        <div><span class="value">{{node.title}}</span><span *ngIf="node.rfiForm">, that
                                                includes request for information</span></div>
                                        <div fxLayout="row" fxLayoutAlign="start center"
                                            *ngIf="node.IsEmail || node.isSms || node.isWhatsapp">
                                            <div class="templates-chip" fxLayout="row"
                                                fxLayoutAlign="space-between center">
                                                <mat-icon *ngIf="node.isEmail">email</mat-icon>
                                                <mat-icon *ngIf="node.isSms">sms</mat-icon>
                                                <mat-icon *ngIf="node.isWhatsapp" svgIcon="whatsapp"></mat-icon>
                                            </div>
                                            <div *ngIf="node.rfiForm" fxLayout="row" fxLayoutAlign="start center">
                                                <mat-icon>add</mat-icon>
                                                <div class="templates-chip" fxLayout="row"
                                                    fxLayoutAlign="space-between center">
                                                    <mat-icon>ballot</mat-icon>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                    <mat-card class="summary-step" *ngIf="summary.rejected">
                        <mat-card-header>
                            <mat-card-title>
                                <div fxLayout="row" fxLayoutAlign="space-between center">
                                    <div class="step-title" fxLayout="row" fxLayoutAlign="start center">
                                        <mat-icon>cancel</mat-icon>
                                        <span>Guests who rejected the invitation, will receive: </span>
                                    </div>
                                    <div class="step-link"><a id="link_to_invitation_rejected"
                                            [routerLink]="['../invitation-rejected']">Return to
                                            this step</a></div>
                                </div>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <div fxLayout="column">
                                <div class="flow-node" *ngFor="let node of summary.rejected" fxLayout="row"
                                    fxLayoutAlign="start start" fxFlex="1 0 auto">
                                    <div fxFlex="30" *ngIf="!node.isInstant">
                                        After <span class="value">
                                            {{node.interval}}
                                            {{timePeriodUnits[node.intervalType]}}
                                        </span>
                                    </div>
                                    <div fxFlex="30" *ngIf="node.isInstant">
                                        <span class="value">
                                            Instantly
                                        </span>, as soon as they reject
                                    </div>
                                    <div fxLayout="column" fxLayoutAlign="start start">
                                        <div><span class="value">{{node.title}}</span><span *ngIf="node.rfiForm">, that
                                                includes request for information</span></div>
                                        <div fxLayout="row" fxLayoutAlign="start center"
                                            *ngIf="node.IsEmail || node.isSms || node.isWhatsapp">
                                            <div class="templates-chip" fxLayout="row"
                                                fxLayoutAlign="space-between center">
                                                <mat-icon *ngIf="node.isEmail">email</mat-icon>
                                                <mat-icon *ngIf="node.isSms">sms</mat-icon>
                                                <mat-icon *ngIf="node.isWhatsapp" svgIcon="whatsapp"></mat-icon>
                                            </div>
                                            <div *ngIf="node.rfiForm" fxLayout="row" fxLayoutAlign="start center">
                                                <mat-icon>add</mat-icon>
                                                <div class="templates-chip" fxLayout="row"
                                                    fxLayoutAlign="space-between center">
                                                    <mat-icon>ballot</mat-icon>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="row btn-group" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="1 0 auto"
                    fxFlex="100">
                    <div class="btn">
                        <button mat-button (click)="back()" class="secondary2-button" id="cancel_button">Cancel</button>
                    </div>
                    <div class="btn">
                        <button mat-button class="secondary-button" (click)="sendTestCampaign()"
                            id="send_test_button">Send a Test</button>
                        <button mat-button class="primary-button" (click)="goLive()" id="go_live_button">Go
                            Live</button>
                    </div>
                </div>
            </div>
            <!-- / CONTENT -->
        </div>
        <!-- / CONTENT CARD -->
    </div>
</div>