@import "../../../../../../constants/variables.scss";
:host {
    width: 100%;
    .value {
        font-weight: 700;
    }
}
.top-btn{
    margin-bottom: 10px;
}
.section-heading {
    text-align: center;
}
.guest-count, .send-time {
    font-weight: 600;
}
.guest-media-count {
    width: 100%;
    margin-block-start: 10px;
    margin-block-end: 10px;
}
.info-text h3 {
    width: 100%;
    margin-block-start: 0px;
}
.media-stat-item {
    .value {
        font-size: 22px;
    }
    .medium {
        font-size: 15px;
    }
    mat-icon {
        font-size: 35px;
        width: 35px;
        height: 35px;
    }
}
.summary-container {
    margin: 50px 0;
}
.summary-step {
    min-height: 190px;
    border: 1.5px solid $secondary-color;
    margin-top: -20px;
    border-radius: 13px;
    padding: 0;
    color: $primary-color;
    mat-card-header {
        border-bottom: 1.5px solid $secondary-color;
        background-color: $secondary-color;
        padding: 16px 0 0 0px;
        border-radius: 11px 11px 0 0;
        width: 99.9999%;
        .step-title {
            mat-icon {
                margin-inline-end: 6px;
            }
        }
        .step-link {
            font-size: 15px;
            font-weight: 400;
        }
    }
    mat-card-content {
        padding: 12px 47px;
        font-size: 16px;
    }
    &:hover {
        
    }
    .templates-chip {
        border: $theme-box-border;
        border-radius: 25px;
        padding: 10px 13px;
        margin: 6px 0;
        mat-icon{
            margin-inline-start: 16px;
            margin-inline-end: 16px;
        }
    }
    ::ng-deep .mat-card-header-text {
        width: 100%;
    }
    .template-info {
        margin-block-start: 12px;
        margin-block-end: 12px;
        mat-label {
            font-weight: 600;
            color: #868686;
        }
        span {
            font-size: 18px;
            border-bottom: 1.5px solid $secondary-color;
        }
    }
    &.disabled {
        pointer-events: none;
        mat-card-header, .template-info span {
            color: $disable-color;
        }

    }
}
.flow-node {
    margin-block-end: 18px;
}