@import "../../../../constants/variables.scss";

// :host {
//     width: 100%;
//     height: 93vh;
//     padding: 16px 6%;
// }

.content{
    height:60vh;
}

.email-header {
    margin-block-end: 16px;
    margin-block-start: 16px;
    padding: 16px;
    border: $theme-box-border;
    background-color: $theme-white;
}

mat-tab-group {
    border: $theme-box-border;
    ::ng-deep .mat-tab-body-wrapper {
        flex-grow: 1;
        background: $theme-white;
        .mat-tab-body-content {
            overflow: initial;
        }
    }
}
.plain-text {
    height: 100%;
    max-width:55vw;
    .plain-text-preview{
        width: 55vw;
        padding: 12px;
        min-width: 55vw;
        min-height: 300px;
        max-height: 300px;
        border: $theme-box-border;
        border-radius: 6px;
    }
}

.noContent {
    img {
        width: 37%;
        margin-top: 51px;
    }
    .message {
        left: 0;
        right: 0;
        width: 100%;
        text-align: center;
        position: absolute;
        color: $primary-color;
    }
}

.mobile-preview-email {
    width: 275px;
    max-width: 275px;
    height: 485px;
    max-height: 485px;
    border-style: solid;
    border-width: 40px 10px;
    border-radius: 15px;
    border-color: #c1c1c1;
    margin: 20px auto;
    position: relative;
    background-color: white;
    overflow: hidden;
}