
<!-- <content></content> -->
<!-- <router-outlet></router-outlet> -->
<div id="main">
    
            <!-- NAVBAR: Left -->
            <ng-container *ngTemplateOutlet="leftNavbar"></ng-container>
            <!-- / NAVBAR: Left -->
    <div class="container" fusePerfectScrollbar
         [fusePerfectScrollbarOptions]="{suppressScrollX: true, updateOnRouteChange : true}">
        <!-- CONTENT -->
        <content></content>
        <!-- / CONTENT -->

    </div>

</div>
<!-- LEFT NAVBAR -->
<ng-template #leftNavbar>
    <irms-event-navbar></irms-event-navbar>
</ng-template>
<!-- / LEFT NAVBAR -->
