<div class="upload-file-btn" [class.invalid]="validStatus === false && !file">
  <button type="button" mat-flat-button class='capitalize secondary-button uploadButton' (click)="uploadCroppImg()">{{title}}
  </button>
  <span class="required" *ngIf="required">*</span>
</div>
