<div class="content-area section-content">
    <div class="list-box" fusePerfectScrollbar>
        <irms-generic-list [dataListObservable]="data" [dataListItemBody]="listItemComponentListAnalysis"
            [selectable]="false" [listHeaders]="['List Analysis']"
            [emptyHeading]="'No List Analysis Found'" [loaderType] = "'section-list'">
        </irms-generic-list>
    </div>
</div>