@import '../form-constants/form-styles.scss';
.selected_options {
    border: 0px;
    display: flex;
    flex-flow: wrap;
    padding: 5px;
    line-height: 30px;
    font-size: 13px;
    width: 100%;
    div {
      font-weight: 500;
      margin: 5px;
      border-bottom: 1px solid #d5d5d5;
      max-width: 100%;
      span{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 90%;
        display: inline-block;
        line-height: 15px;
      }
      .remove {
        display: inline-block;
        background: #aaa;
        border: 0;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        padding: 0;
        margin: 0 5px;
        cursor: pointer;
        font: inherit;
        outline: none;
        line-height: 0px;
        // &:after { 
        //   color: white;
        //   content: 'x';
        // }
        &:hover {
          background: #999;
        }
        &:active {
          background: #777;
        }
      }
    }
  }
  
  .chips {
    display: flex;
    flex-flow: wrap;
    padding: 0;
    flex: 0 1 auto;
    height: 97px;
    overflow-y: scroll;
    border-bottom: 2px dashed #1f5662;
    .chip {
      margin: 5px;
      background-color: #3a8880;
      font-weight: 500;
      color: #fff;
      font-size: 13px;
      height: 32px;
      line-height: 32px;
      padding: 0 12px;
      border-radius: 16px;  
      list-style: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      transition: all 0.5s;
      max-width: 100%;
      
      &.selected{
        opacity: 0.4;
        cursor: default !important;
      }
  
      &:hover, &.selected {
        cursor: pointer;
      }
    }
    
  }
  
  .selected_chips {
    @extend .chips;
  }
