<div id="main-navigation" class="nav vertical">

    <!-- Vertical Navigation Layout -->
        <ng-container *ngFor="let item of (navigationModel || [])">

            <fuse-nav-vertical-collapse *ngIf="item.type=='collapse'" [item]="item"></fuse-nav-vertical-collapse>
            <fuse-nav-vertical-item *ngIf="item.type=='item'" [item]="item"></fuse-nav-vertical-item>

        </ng-container>
    <!-- / Vertical Navigation Layout -->

</div>
