<h5 mat-dialog-title><a class="dialog-exit-link" (click)="closeDialog(null)">Back</a></h5>
<h2 mat-dialog-title><mat-icon svgIcon="whatsapp"></mat-icon> {{data.step == 0? 'Invitation (RSVP)':'Pending'}} Bot Message</h2>

<mat-dialog-content class="content" fxLayout="column">
    <h2>Set Bot's Instant Responses</h2>
    <!-- <div class="bot-options-group" fxLayout="column" fxLayoutAlign="start" >
        <button mat-flat-button class="primary-button" (click)="closeDialog('template')" ><mat-icon>chrome_reader_mode</mat-icon><span>Predefined Template</span></button>
        <button mat-flat-button class="primary-button" (click)="closeDialog('bot')" ><mat-icon svgIcon="bot"></mat-icon><span>Bot Message</span></button>
    </div> -->
    <div class="form-field-group" fxLayout="row">
        <div fxFlex="10" fxLayoutAlign="center center">
            <mat-icon>info</mat-icon>
        </div>
        <div fxLayoutAlign="start center">
            <span>
                Please note: Before you can proactively reach out to your guests you first need their permission and get them to opt-in.
            </span>
        </div>

    </div>
    <div class="content-area irms-stepper-tabs" fxLayout="column" fxFill>
        <nav mat-tab-nav-bar fxLayout="row">
            <a mat-tab-link *ngFor="let tab of tabGroup; let i=index" [active]="selectedTab == i"
            (click)="tabChange(i)">
                <span class="tabNumber"></span>
                <div fxLayout="row" fxLayoutAlign="center">
                    <span class="label">{{tab.label}}</span>
                </div>
            </a>
            <div class="stepper-line"></div>
        </nav>
    </div>
    <div class="content-type" fxLayout="row" fxLayoutAlign="start center">
        <span class="type-chip">{{tabGroup[selectedTab].label}}</span>
    </div>
    <div fxLayout="row" fxFill>
        <mat-tab-group class="header-less-tabs" [selectedIndex]="selectedTab" fxFlex="60">
            <mat-tab>
                <ng-template matTabContent>
                    <irms-whatsapp-text-editor [inputControl]="configForm.controls.acceptedResponse"></irms-whatsapp-text-editor>
                </ng-template>
            </mat-tab>
            <mat-tab>
                <ng-template matTabContent>
                    <irms-whatsapp-text-editor [inputControl]="configForm.controls.rejectedResponse"></irms-whatsapp-text-editor>
                </ng-template>
            </mat-tab>
            <mat-tab>
                <ng-template matTabContent>
                    <irms-whatsapp-text-editor [disabled]="true" [inputControl]="configForm.controls.defaultResponse"></irms-whatsapp-text-editor>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
        <div fxLayout="row" fxLayoutAlign="center center" class="mobile-preview">
            <irms-whatsapp-preview [messages]="previewData.messages" [sender]="previewData.senderName" [twoWay]="true"></irms-whatsapp-preview>
        </div>
    </div>    
</mat-dialog-content>

<mat-dialog-actions fxLayout="row">
    <div fxLayoutAlign="start center" fxFlex="90">
        <button mat-flat-button class="secondary-button" (click)="dialogRef.close()">Close</button>
    </div>
    <div>
        <button mat-flat-button class="primary-button" [irmsButtonLoader]="isSaving" (click)="next()">{{selectedTab<tabGroup.length-1 ? 'Next' : 'Done'}}</button>
    </div>
</mat-dialog-actions>