@import "../../../../../../constants/variables.scss";
.content{
    min-height:82%;
}
.type-chip {
    background-color: $primary-color;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    border-radius: 4px;
    padding: 7px;
    margin-right: 4px;
    color: $theme-white;
}
.form-field-group{
    min-width: 100%;
    max-width: 100%;
}
.primary-button{
    min-height: 40px;
}