<div *ngIf="question" class="contents" fxLayout="column" fxLayoutAlign="center stretch" [formGroup]="question"
    fusePerfectScrollbar>
    <div class="content-type" fxLayout="row" fxLayoutAlign="start center">
        <span class="type-chip" [ngStyle]="{'background-color': questionColorCode[question.controls.type.value]}">
            <mat-icon class="type-icon">{{questionIcon[question.controls.type.value]}}</mat-icon>
            <span>{{questionTypeTitle[question.controls.type.value]}}</span>
        </span>
    </div>
    <div class="form-field" fxLayout="row" fxLayoutAlign="space-between center">
        <mat-slide-toggle [formControl]="question.get('required')">Required</mat-slide-toggle>
    </div>
    <div *ngIf="showMinMaxLength.indexOf(question.controls.type.value) > -1" fxLayout="column">
        <mat-form-field appearance="outline">
            <mat-label>Min Length</mat-label>
            <input matInput type='text' formControlName="minLength" placeholder="Min Length" />
            <mat-error *ngIf="question.get('minLength').hasError('required')">
                Enter a number
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Max Length</mat-label>
            <input matInput type='text' formControlName="maxLength" placeholder="Max Length" />
            <mat-error *ngIf="question.get('maxLength').hasError('required')">
                Enter a number
            </mat-error>
        </mat-form-field>
    </div>
    <div *ngIf="question.controls.type.value === 'date'" fxLayout="column">
        <mat-form-field appearance="outline">
            <mat-label>Min Date</mat-label>
            <input matInput [owlDateTimeTrigger]="dt12" formControlName="minDate" [owlDateTime]="dt12"
                autocomplete="off">
            <owl-date-time #dt12 [pickerType]="'calendar'"></owl-date-time>
            <mat-error *ngIf="question.get('minDate').hasError('required')">
                Enter a Date
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Max Date</mat-label>
            <input matInput [owlDateTimeTrigger]="dt13" formControlName="maxDate" [owlDateTime]="dt13"
                autocomplete="off">
            <owl-date-time #dt13 [pickerType]="'calendar'"></owl-date-time>
            <mat-error *ngIf="question.get('maxDate').hasError('required')">
                Enter a Date
            </mat-error>
        </mat-form-field>
    </div>
    <div *ngIf="question.controls.type.value === 'singleLineText'" fxLayout="column">
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Pattern</mat-label>
            <mat-select formControlName="pattern">
                <mat-optgroup *ngFor="let group of commonPatterns" [label]="group.name">
                    <mat-option *ngFor="let pattern of group.patterns" [value]="pattern.regex">
                        <div class="regex-option" fxLayout="column" fxLayoutAlign="start stretch">
                            {{pattern.title}}
                        </div>
                    </mat-option>
                </mat-optgroup>
            </mat-select>
        </mat-form-field>
    </div>
</div>