<h1 matDialogTitle>{{confirmHeading}}</h1>
<div mat-dialog-content [innerText]="confirmMessage"></div>
<div mat-dialog-actions class="pt-24">
    <button mat-button (click)="dialogRef.close(false)">{{cancelButton}}</button>
    <button mat-raised-button class="primary-button mr-16" (click)="dialogRef.close(true)">{{confirmButton}}</button>
</div>
