@import "../../../../../constants/variables.scss";

:host{
    ::ng-deep
    .mat-progress-spinner,
    .mat-spinner {
        circle {
            stroke: $accent-color;
        }
    }
 }

.loader-hidden {
    visibility: hidden;
}
.loader-overlay {
    position: absolute;
    height: 100%;
    width:100%;
    top:0;
    left: 0;
    opacity: 1;
    z-index: 500000;
    background: rgba(35, 71, 87, 0.411);
    
    div{
        position: relative;
        left: 50%;
        top: 50%;
    }
}