<div [class.loader-hidden]="!show">
<!-- <div [class.loader-hidden]="loaderState | async"> -->
  <div class="loader-overlay">
          <div>
              <mat-progress-spinner mode="indeterminate" [diameter]=50 [strokeWidth]=5></mat-progress-spinner>
          </div>
  </div>
</div>
