<div class="response">
    <irms-response-drawer [htmlData]="currentTemplate.value"></irms-response-drawer>
    <irms-continue-button *ngIf="state == 0" [theme]="themeObj.buttons" [buttonText]="proceedButton" (next)="toWelcome()"></irms-continue-button>
    <irms-continue-button *ngIf="state == 1" [theme]="themeObj.buttons" [buttonText]="acceptedButton" (next)="toAccept()"></irms-continue-button>
    <irms-continue-button *ngIf="state == 1" [theme]="themeObj.buttons" [buttonText]="rejectedButton" (next)="toReject()"></irms-continue-button>
</div>