<div fxLayout="row" class="tab-content">
    <div fxFlex="20">
        <h1 class="section-heading">Event Admission</h1>
    </div>
    <div fxFlex="80" *ngIf="model; else noValue">
        <div *ngIf="!editInfoMode && model" [@animate]="{value:'*',params:{y:'100%'}}">
            <div fxLayout="column" fxLayoutAlign="start" class="view-only" fxFlex="70">
                <span fxLayout="row" fxLayoutAlign="end start" fxFlex="1 0 auto">
                    <button mat-icon-button class="edit-button" (click)="editInfo()">
                        <mat-icon>edit</mat-icon>
                    </button>
                </span>
                <div fxLayout="row" fxLayoutAlign="center center" fxFlex="1 0 auto" *ngIf="eventAdmissionForm.controls['status'].value">
                    <mat-label fxFlex="25">Status</mat-label>
                    <div fxFlex="75" class="value" *ngIf="model.status; else noValue">{{model.status}}</div>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center" fxFlex="1 0 auto">
                    <mat-label fxFlex="25">Seat</mat-label>
                    <div fxFlex="75" class="value" *ngIf="model.seat; else noValue">{{model.seat}}</div>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center" fxFlex="1 0 auto">
                    <mat-label fxFlex="25">Parking</mat-label>
                    <div fxFlex="75" class="value" *ngIf="model.parking; else noValue">{{model.parking}}</div>
                </div>
                <div fxLayout="row"  fxFlex="1 0 auto">
                    <div class="thumbnail-container" *ngIf="model.badgeUrl">
                        <img [style.background-image]="doPathUrl(model.badgeUrl)" class="image" src="{{transparentSource}}">
                        <div class="hover-overlay" fxLayout="row" fxLayoutAlign="center center">
                            <button type="button" class="save-button" mat-flat-button (click)="saveBadge()">
                                <div fxLayout="column" fxLayoutAlign="center center">
                                    <mat-icon>save_alt</mat-icon>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="editInfoMode" [@animate]="{value:'*',params:{y:'100%'}}">
            <form fxLayout="column" fxLayoutAlign="start" [formGroup]="eventAdmissionForm">
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" *ngIf="eventAdmissionForm.controls['status'].value">
                    <irms-input-error [fieldLabel]="'Status'" [inputControl]="eventAdmissionForm.controls['status']" class="not-allowed"
                        [charactersCount]="100" fxFlex="100" [disabled]="true" *ngIf="eventAdmissionForm.controls['status'].value==='Pending'">
                    </irms-input-error>
                    <mat-form-field appearance="outline" fxFlex="100" *ngIf="eventAdmissionForm.controls['status'].value!=='Pending'">
                        <mat-select [formControl]="eventAdmissionForm.controls['status']">
                            <mat-option *ngFor="let status of statuses" [value]='status'>
                                {{status}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <irms-input-error [fieldLabel]="'Seat'" [inputControl]="eventAdmissionForm.controls['seat']"
                        [errorRangeText]="'Seat must be between 2 and 100 characters.'" [charactersCount]="100"
                        fxFlex="100">
                    </irms-input-error>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <irms-input-error [fieldLabel]="'Parking'" [inputControl]="eventAdmissionForm.controls['parking']"
                    [errorRangeText]="'Parking must be between 2 and 100 characters.'" [charactersCount]="100"
                    fxFlex="100">
                    </irms-input-error>
                </div>
                <div class="row btn-group" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="1 0 auto"
                    fxFlex="100">
                    <div class="btn">
                        <button mat-button (click)="viewGuestInfo()" class="secondary2-button">Cancel</button>
                    </div>
                    <div class="btn">
                        <button mat-button [disabled]="eventAdmissionForm.invalid" class="primary-button" (click)="updateGuest()">Update
                            Guest</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<ng-template #noValue>
    <div fxFlex="80" class="noValue value" fxLayout="row" fxLayoutAlign="start center">This guest has no event admission yet.</div>
</ng-template>