@import "../../../../../../../constants/variables.scss";
.not-allowed {
    cursor: not-allowed;
}
.section-heading {
    font-weight: 600;
}
.tab-content {
    padding: 15px;
}
.thumbnail-container {
    position: relative;
    width: 200px;
    height: 300px;
    &:hover {
        .image {
            opacity: 0.7;
        }
        .hover-overlay {
            opacity: 1;
            border: 2px solid $accent-color;
        }
    }
    .image {
        border-radius: 6px;
        opacity: 1;
        display: block;
        width: 100%;
        height: 100%;
        transition: .7s ease;
        backface-visibility: hidden;
        background-repeat: no-repeat;
        background-size: cover;
        border: $theme-box-border;
    }

    .hover-overlay {
        border-radius: 6px;
        transition: .3s ease;
        opacity: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(149, 149, 149, 0.52);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        .save-button {
            background-color: transparent;
            color: $theme-white;
            width: 100%;
            height: 100%;
        }
    }
}