<div class="campaign-flow" fxLayout="row" fxLayoutAlign="start stretch">
    <irms-campaign-flow-nodes class="nodes" (addEvent)="createNode()" (updateEvent)="updateNodes()" (copyEvent)="copyNode($event)"
    (deleteEvent)="deleteNode($event)" [nodes]="nodes" [parentIcon]="'cancel'" [nodeLabelPrefix]="'Message'"
    [emptyText]="'Add messages for your rejected guests'"></irms-campaign-flow-nodes>
    <div class="node-view" fxFlex>
        <router-outlet  #rejectedOutlet="outlet"></router-outlet>
        <irms-empty-list-message class="not-selected" *ngIf="!rejectedOutlet.isActivated" 
        [heading]="nodes.length > 0 ? 'Select Messages to work on' : 'Add Messages'" [secondaryText]="" [type]="'selectSomething'">
        </irms-empty-list-message>
    </div>
</div>