<div id="email-designer">
  <!-- NAVBAR-->
  <!-- <irms-email-designer-navbar (sendTestEmails)="sendTestEmails()" (saveTemplate)="saveTemplate()"></irms-email-designer-navbar> -->
  <!-- / NAVBAR -->
<div class="container" fusePerfectScrollbar
[fusePerfectScrollbarOptions]="{suppressScrollX: true, updateOnRouteChange : true}">
<!-- CONTENT -->
<content></content>
<!-- / CONTENT -->
</div>
</div>