<div id="content-layout" class="page-layout carded fullwidth inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg"></div>
    <!-- / TOP BACKGROUND -->
    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div class="header" fxLayout="row" fxLayoutAlign="center center" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center">
            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center" fxFlex="85" >
                <mat-icon class="cursor-pointer logo-icon s-32 mr-16" [@animate]="{
                            value: '*',
                            params: { delay: '50ms', scale: '0.2' }
                        }">
                    settings
                </mat-icon>
                <span class="logo-text h1 section-heading" [@animate]="{
                            value: '*',
                            params: { delay: '100ms', x: '-25px' }
                        }">
                    {{eventName}}
                </span>
            </div>
            <button mat-flat-button class="secondary-button" (click)="delete()" fxFlex="15">Delete Event</button>
            <!-- / APP TITLE -->
        </div>
        <!-- / HEADER -->
        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg generic-content-card">
            <!-- CONTENT -->
            <div class="content-area" fxLayout="column" fxFill>
                <mat-tab-group dynamicHeight class="tabs">
                    <mat-tab label="Event Information" [disabled]='editFeatureMode'>
                        <ng-template matTabContent>
                            <irms-event-info (onEditMode)="toggleEditMode($event, 'info')"
                                (eventName)="setEventName($event)"></irms-event-info>
                        </ng-template>
                    </mat-tab>
                    <mat-tab label="Event Features" [disabled]='editInfoMode'>
                        <ng-template matTabContent>
                            <irms-event-features (onEditMode)="toggleEditMode($event, 'features')">
                            </irms-event-features>
                        </ng-template>
                    </mat-tab>
                </mat-tab-group>
            </div>
            <!-- / CONTENT -->
        </div>
        <!-- / CONTENT CARD -->
    </div>
</div>