<!-- <p>rfi-data-review-modal works!</p> -->
<h1>RFI Form Creation</h1>
<irms-data-review-form-builder [invitationId]="data.id"
[formId]="data.rfiFormId"
[importantFields]="data.fields"></irms-data-review-form-builder>