:host {
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    // position: fixed;
    display: block;
    background-position: center top;
}

.form-section {
    -webkit-animation: fadein 0.6s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 0.6s;
    /* Firefox < 16 */
    -ms-animation: fadein 0.6s;
    /* Internet Explorer */
    -o-animation: fadein 0.6s;
    /* Opera < 12.1 */
    animation: fadein 0.6s;
    // position: absolute;
    width: 100%;
    height: 100%;
}

.content_wrapper{
    padding: 4%;
    .content {
        margin-top: 0%;
    }

    // @media screen and (min-width: $break-large) {
    //   // min-height: 90vh;
    //   min-height: 100%;
    // }
}

.hide {
    opacity: 0%;
    pointer-events: none;
}