// Import Fuse core library
@import "@fuse/scss/core";

// Import app.theme.scss
@import "app/app.theme";
@import "./app/constants/variables.scss";
@import "app/constants/mixins.scss";
@import "app/core/scss/toaster.scss";
@import '~@angular/cdk/overlay-prebuilt.css';
@import "~ng-pick-datetime/assets/style/picker.min.css";

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.irms-container {
    height: 100%;

    //generic-list
    .selection-list {
        .mat-list-item {
            height: 75px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        }

        .mat-list-item .mat-list-item-content {
            width: 100%;
        }
    }

    //form
    .mat-slide-toggle-label {
        justify-content: space-between;
    }

    //form registration tabs-menu
    .mat-tab-nav-bar,
    .mat-tab-header {
        border-bottom: none;
    }

    .toolbar {
        margin: 5px 15px;
        border: none;
        border-bottom: 0px !important;
    }

    .section-heading {
        word-break: break-word;
        width: 54vw;
    }

    .fullWidth {
        width: 100%;
    }

    //shared style for toolbar-actions
    .toolbar-actions {
        padding: 0 0;
    }

    //shared style for generic content page
    .section-content {

        .view-box,
        .list-box {
            height: 100%;
            height: 65vh !important;
            overflow: auto;
            overflow-y: scroll;
            overflow: -moz-scrollbars-vertical;
        }
    }

    .generic-content-card {
        .toolbar-actions {
            padding: 0 0;
        }

        .time-filter {
            width: 50%;
            max-width: 110px;

            &_period {
                max-width: 350px;
                display: flex;
                align-items: center;
            }
        }

        .generic-content-box {
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        }

        .view-box {
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            align-self: flex-start;
            height: 100%;
            height: 65vh;
            overflow: auto;
            overflow-y: scroll;
            overflow: -moz-scrollbars-vertical;
        }

        .list-box {
            // border-right: 1px solid rgba(0, 0, 0, 0.12);
            height: 100%;
            // height: 65vh;
            overflow-y: scroll;
            overflow: -moz-scrollbars-vertical;

            // @include respond-to($medium-desktop) {
            //     flex: 1 1 !important;
            // }
        }
    }

    .toolbar-separator {
        height: 64px;
        width: 1px;
        border-right: 1px solid rgba(0, 0, 0, 0.12);
        margin: 0 12px;

        @include media-breakpoint('xs') {
            height: 56px;
        }
    }
}

body.theme-default {
    background: $theme-white !important;
    color: $primary-color;
}

body.theme-default .mat-button-toggle-standalone.mat-button-toggle-appearance-standard,
body.theme-default .mat-button-toggle-group-appearance-standard {
    border: none;
}

body.theme-default a {
    color: $accent-color;
}

.text-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

//list view styles 
.list-detail-item {
    text-align: center;
    font-size: 17px;

    &.name {
        text-align: left;
    }
}

.list-detail-item-borderless {
    text-align: center;
    font-size: 17px;
    border-bottom: none !important;

    &.name {
        text-align: left;
    }
}

.name-link {
    &:hover {
        color: $accent-color;
    }
}

.locked {
    color: #666666;
}

.noValue {
    color: #666666;
}

.noContent {
    text-align: center;
    padding: 6%;
    color: #666666;
}

.noContentMobile {
    @extend .noContent;
    padding-top: 26%;
    width: 100%;
    height: 100%;
}

.transparent-content {
    content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=");
}

// Button Styles
.row_uploader {
    // margin: 5px 1px 20px;
}


.btn-group {
    margin-top: 20px;
    margin-bottom: 20px;
    .btn button {
        height: 40px !important;
    }
}

.irms-button {
    margin-inline-end: 20px !important;

    .mat-icon {
        margin-inline-end: 6px;
    }
}

.round-button {
    min-width: unset !important;
    border-radius: 50% !important;
    padding: 0px 5px 2px !important;
    width: 42px;
    height: 42px;
    .mat-icon {
        margin-inline-end: 0px;
    }
}

.primary-button {
    @extend .irms-button;
    background-color: $accent-color !important;
    border: $accent-color 2px solid !important;
    color: $theme-white !important;

    &.negative {
        background-color: $warn-color;
        border-color: $warn-color !important;
        color: $theme-white !important;
    }

    &:disabled {
        background-color: $disable-color !important;
        border: $disable-color 2px solid !important;
        color: $disable-dark-color !important;
    }
}

.secondary-button {
    @extend .irms-button;
    background-color: transparent !important;
    color: $accent-color !important;
    border: $accent-color 2px solid !important;

    &.negative {
        border-color: $warn-color !important;
        color: $warn-color !important;
    }

    &:disabled {
        border: $disable-dark-color 2px solid !important;
        background-color: transparent !important;
        color: $disable-dark-color !important;
    }
    &.dark-bg {
        border-color: $theme-white !important;
        color: $theme-white !important;
    }
}

.secondary2-button {
    @extend .irms-button;
    background-color: transparent !important;
    color: $accent-color !important;
    border: transparent !important;

    &.negative {
        color: $warn-color !important;
    }

    &:disabled {
        color: $disable-dark-color !important;
        background-color: transparent !important;
        border: transparent !important;
    }
}

//....button spinner
.mat-load-button {
    .mat-button-wrapper {
        display: flex;
        span {
            padding-right: 5px;
        }
    }
}

.buttonSpinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: $accent-color;
    animation: spinner .8s linear infinite;
}

// Button styles end

//// Date time Picker/////////
.owl-dt-container {
    font-size: 1.2rem !important;
}

.owl-dt-calendar-table .owl-dt-calendar-cell-selected,
.owl-dt-timer-hour12 .owl-dt-timer-hour12-box:focus .owl-dt-control-button-content,
.owl-dt-timer-hour12 .owl-dt-timer-hour12-box:hover .owl-dt-control-button-content,
.owl-dt-calendar-table .owl-dt-calendar-cell-selected {
    background-color: $accent-color;
}

.owl-dt-container-buttons,
.owl-dt-container-info .owl-dt-container-info-active,
.owl-dt-timer-hour12 {
    color: $accent-color;
}

.owl-dt-calendar-table .owl-dt-calendar-cell-in-range {
    background: rgba(42, 200, 184, 0.2);
}


///////////////
///MATERIAL COMPONENTS STYLE
mat-icon.item-status {
    border-radius: 50%;
    font-size: 17px;

    &.live {
        color: $accept-color;

        &:before {
            content: "check_circle";
        }
    }

    &.draft {
        color: rgb(173, 173, 173);

        &:before {
            content: "lens";
        }
    }

    &.ended {
        color: $accent-color;

        &:before {
            content: "lock";
        }
    }

    &.disabled {
        color: #646464;

        // background-color: #FFFFFF;
        &:before {
            content: "not_interested";
        }
    }
}

.required {
    color: red;
    position: relative;
}

.form-field-group {
    background-color: $accent-transparent;
    padding: 15px;
    border-radius: 7px;
    // -webkit-margin-after: 15px;
    // margin-block-end: 15px;
    // margin-block-start: 10px;
    margin: 1em 1.5em;
    border: 1px solid rgba(201, 201, 201, 0.47);
}

.menu-spacer {
    flex: 1 1 auto;
}

.form-field-wrapper {
    margin: .25em 0;
    padding-bottom: 1.34375em;
}

// background Classes
.cover {
    background-size: cover !important;
}

.repeat {
    background-repeat: repeat !important;
}

.no-repeat {
    background-repeat: no-repeat !important;
}

.view-only {
    &>div {
        margin-bottom: 17px;
    }

    mat-label {
        color: $primary-color;
        font-size: 16px;
        font-weight: 600;
    }

    .value {
        padding: 9px 7px;
        border-bottom: 2px solid $secondary-color;
        margin-inline-end: 12px;
    }

    .mat-form-field-appearance-outline .mat-form-field-infix {
        padding: 0.5em 0 0.5em 0;
    }

    .mat-form-field-appearance-outline {
        .mat-form-field-outline-thick {
            color: $secondary-color !important;
        }
    }
}


.mat-form-field,
.mat-radio-button,
.mat-checkbox,
irms-input-error,
irms-textarea-error {
    margin-inline-end: 12px;
}

.mat-radio-button,
.mat-checkbox {
    margin-block-end: 12px;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: $accent-color !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
    color: $accent-color !important;
    background-color: $accent-color !important;
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color: rgb(255, 37, 37, .26)
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: $accent-color !important;
}

.mat-tab-label-active .mat-ink-bar {
    background-color: $accent-color !important;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: $accent-color !important;
}

.mat-tab-link {
    &:active {
        color: $accent-color;
    }

    &:hover {
        text-decoration: none !important;
    }
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
body.theme-default .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-tab-group.mat-primary .mat-ink-bar, .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: $accent-color !important;
}
.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: rgb(49, 177, 164) !important;
}

.disableStepperHead {
    ::ng-deep .mat-horizontal-stepper-header {
        pointer-events: none !important;
    }
}

// IRMS STEPPER-TABS
mat-tab-group.header-less-tabs .mat-tab-header { display: none; }
.irms-stepper-tabs {
    nav{
        border:none !important;
        margin-block-end: 10px;
        a{
            flex-direction: column;
            justify-content: flex-start;
            border-bottom:none;
            background: radial-gradient(white, transparent) !important;
            z-index: 1;
            opacity: 1 !important;
            color: $disable-dark-color !important;
            height: 55px;
            &:hover {
                background-color: rgba(231, 231, 231, .6) !important;
                
            }
            .tabNumber{
                border: 2px solid #3c4252;
                background-color: white;
                color: white;
                margin: 5px;
                height: 16px;
                min-width: 16px;
                padding-top: 3px;
                border-radius: 20px;
            }
            
            .label{
                font-size:12px;
            }
            
            .optional{
                font-size:10px;
                bottom: 0px;
                position: absolute;
            }
        }
        .mat-tab-label-active {
            opacity: 1 !important;
            color: $primary-color !important;
            .tabNumber{
                background-color: #3c4252;
            }
            
        }
        .mat-ink-bar {
            height: 0px !important;
        }

        .mat-tab-links {
            display: flex;
            align-items: center;
            justify-content: center;
            
        }
        .stepper-line {
            position: absolute;
            background-color: rgba(60, 66, 82, 0.349);
            height: 1px;
            width: 74%;
            top: 13px;
        }
    } 
}
// IRMS STEPPER-TABS ---ends
///Map 
.agm-map-container-inner {
    border-radius: 5px;
}

//Mobile preview 

.mobile-preview {
    // width: 375px;
    // max-width: 375px;
    // height: 667px;
    // max-height: 667px;
    width: 18em;
    max-width: 18em;
    min-width: 18em;
    height: 32em;
    max-height: 32em;
    min-height: 32em;
    border-style: solid;
    border-width: 10px 10px;
    border-radius: 25px;
    border-color: #c1c1c1;
    margin: 10px auto;
    position: relative;
    background-color: $theme-white;
    overflow: hidden;
}

/// Info Tip item
.info-tip {
    padding: 10px 8px !important;
    background: $secondary-color;
    color: $primary-color !important;
    border-radius: 5px;
    .info-text {
        h2 {
            margin-block-start: 0;
            margin-block-end: 0;
        }
    }

    &>* {
        margin-inline-end: 12px;
    }

    &.card-padding {
        padding: 22px !important;
    }
}

// custom chips 
.chip-generic {
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    padding: 7px 12px;
    border-radius: 16px;
    align-items: center;
    cursor: default;
    min-height: 32px;
    height: 1px;
    font-size: 0.9384em;
}

.chip1 {
    @extend .chip-generic;
    background-color: $accent-color !important;
    color: $theme-white !important;

    * {
        color: $theme-white !important;
    }

    border: 1px solid $accent-color !important;
    
}


.chip2 {
    @extend .chip-generic;
    color: $accent-color !important;

    * {
        color: $accent-color !important;
    }

    background-color: $theme-white !important;
    border: 1px solid $accent-color;
}

.chip-danger {
    @extend .chip-generic;
    background-color: $danger-color !important;
    color: $theme-white !important;

    * {
        color: $theme-white !important;
    }

    border: 1px solid $danger-color !important;
    
}

//campaign media cards
.media-group {
    margin-block-end: 12px;
}
.media-card {
    // min-height: 300px;
    border: $theme-box-border;
    padding: 5px 0px !important;
    .mat-card-header .mat-card-title {
        margin-bottom: 3px;
    }
    mat-card-header {
        border-bottom: $theme-box-border;
        .mat-card-header-text {
            width: 100%;
        }
    }
    mat-card-content {
        padding: 8px 7px;
    }
    &:hover {
        border-color: $accent-color;
        mat-card-header {
            border-bottom-color: $accent-color;
        }
    }
    .template-info {
        margin-block-start: 12px;
        margin-block-end: 12px;
        mat-label {
            font-weight: 600;
            color: #868686;
        }
        span {
            font-size: 18px;
            border-bottom: 1.5px solid $secondary-color;
        }
    }
}

//tiny mce

.tox .tox-editor-container {
    flex-direction: column-reverse !important;
}
.tox.tox-tinymce-aux .tox-toolbar__overflow {
    max-width: 608px !important;
    min-width: 608px !important;
    height: 39px;
    // left: -70vw !important;
    overflow-y: hidden !important;
    overflow-x: auto !important;
    flex-wrap: nowrap;
}
