::ng-deep star-rating {
  div {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
}
.hidden-input {
  opacity: 0;
  position: absolute;
  height: 0px;
  width: 0px;
}