<div id="forgot-password" fxLayout="column" fusePerfectScrollbar>
  <div id="forgot-password-form-wrapper" fxLayout="column" fxLayoutAlign="start center" *fuseIfOnDom
       [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

    <div id="forgot-password-form">

      <div class="logo">
        <img *ngIf="!logoLink && !logoLoad" src="assets/images/logos/fuse.svg">
        <img *ngIf="logoLink && !logoLoad" [src]="logoLink">
      </div>

      <div class="title">RECOVER YOUR PASSWORD</div>

      <div class="form-box" [ngSwitch]="currentState" >
        <div class="code-request" *ngSwitchCase="'initial'">
          <form class='form' [formGroup]="nextStateForm" (ngSubmit)="nextState()">
            <mat-button-toggle-group class="radio-group" fxLayout="row" fxLayoutAlign="center center" formControlName="currentRecoveryType" aria-label="Recovery Method">
              <mat-button-toggle *ngFor="let type of resetByTypes" [value]="type" fxLayout="column">
                <span><div><mat-icon class="mat-icon">{{type.icon}}</mat-icon></div>
                <div>{{type.method}}</div></span>
              </mat-button-toggle>
            </mat-button-toggle-group>
            <div class="btn-submit">
              <button class="primary-button submit-button" type="submit" mat-raised-button>Next
              </button> 
            </div>
          </form>
        </div>

        <div class="code-request" *ngSwitchCase="'byEmail'">
          <form class='form' [formGroup]="recoverPassByEmailForm" (ngSubmit)="recoverPassByEmail()">
            <mat-form-field class="full-width">
              <input matInput formControlName="email" type='email' placeholder="Email Address" (blur)="checkEmail()">
              <mat-error *ngIf="recoverPassByEmailForm.controls.email.hasError('notRegistered')">
                User is not found by the email
              </mat-error>
              <mat-error *ngIf="recoverPassByEmailForm.controls.email.hasError('required')">
                This input field cannot be empty
              </mat-error>
              <mat-error *ngIf="recoverPassByEmailForm.controls.email.hasError('pattern')">
                Email is not in the correct format
              </mat-error>
            </mat-form-field>
            <re-captcha [siteKey]="captchaKey" formControlName="recaptchaResponse"></re-captcha>
            <div class="btn-submit">
              <button type="submit" mat-raised-button  class="primary-button submit-button" tabindex="3">Send
              </button>
            </div>
          </form>
        </div>
        <div class="code-request" *ngSwitchCase="'bySms'">
          <form class='form' [formGroup]="recoverPassBySmsForm" (ngSubmit)="recoverPassBySms()">
            <mat-form-field class="full-width">
              <input matInput formControlName="phoneNumber" type='text' placeholder="Mobile number" (blur)="checkPhone()">
              <mat-error *ngIf="recoverPassBySmsForm.controls.phoneNumber.hasError('required')">
                This input field cannot be empty
              </mat-error>
              <mat-error *ngIf="recoverPassBySmsForm.controls.phoneNumber.hasError('notUnique')">
                User is not found by the mobile number
              </mat-error>
              <mat-error *ngIf="recoverPassBySmsForm.controls.phoneNumber.hasError('pattern')">
                Mobile number is not in the correct format
              </mat-error>
            </mat-form-field>
            <re-captcha [siteKey]="captchaKey" formControlName="recaptchaResponse"></re-captcha>
            <div class="btn-submit">
              <button type="submit" mat-raised-button class="primary-button submit-button" tabindex="3">Send
              </button>
            </div>
          </form>
        </div>
        <div class="enter-code" *ngSwitchCase="'info'">
          <h1 class="action-message"><mat-icon class="mat-icon email-icon">email</mat-icon></h1>
          <h2 class="action-message">A reset password has been sent to <span class="email">{{email}}.</span></h2>
          <h2 class="action-message">Please check your inbox and click on the reset password link to reset your password.</h2>
        </div>
        <div class="enter-code" *ngSwitchCase="'reset'">
          <h3 class="action-message">Insert code you have just received</h3>
        </div>
      </div>


      <div class="login" fxLayout="row" fxLayoutAlign="center center">
        <a class="link" [routerLink]="'/account/login'">Go back to login</a>
      </div>

    </div>

  </div>

</div>


