@import "../../../../../../constants/variables.scss";
:host{
    width:100%;
}

.container{
    margin:30px;
}

h3 {
    font-weight: 600;
}
.list-icon {
    border-radius: 50%;
    margin-top: 16px;
    height: 24px;
    width: 24px;
    flex-shrink: 0;
    position: relative;
    border: 1px solid $accent-color;
    color: $accent-color;
    margin-inline-end: 12px;
    span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 16px;
    }
}
.exit-criteria {
    margin-top: 2.34375em;
    margin-bottom: 2em;
}
.media-stat-hint {
    margin-top: 0px;
}
.media-stats {
    width:100%;
    .media-stat-item{
        mat-checkbox {
            margin: 0 0px 8px;
        }
        span {
            text-align: center;
            font-weight: 600;
        }
        .value {
            margin-top: 0px;
        }
    }
}

.reachability-container{
    background-color: rgba(42, 200, 184, 0.13);
    padding: 15px;
    border-radius: 7px;
    border: 1px solid rgba(201, 201, 201, 0.47);
}

.message-container{
    border: $theme-box-border;
    border-radius: 7px;
    margin: 20px;
    padding:10px;
    .media-cards{
        padding:15px;
    }
    irms-template-thumbnail{
        height: 350px;
    }
}


.message {
    border-right: $theme-box-border;
    h1{
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        text-align: center;
    }
}

// .delay{
//     margin: 10px 5px 0px 5px;
// }

.cont-text{
    margin-top:-10px;
    margin-left:5px;
    margin-right:5px;
}
.arrow {
    
    text-align: center;
    margin-block-end: 3px;
    svg {
        g line,
        g path {
            fill: $primary-color;
            stroke: $primary-color;
        }
        g line,
        g path {
            stroke-miterlimit: 10;
        }
    }
}

.media-group {
    margin-block-end: 12px;
}

.media-card {
    min-height: 300px;
    border: $theme-box-border;
    padding: 16px 0px;
    mat-card-header {
        border-bottom: $theme-box-border;
    }
    mat-card-content {
        padding: 8px 7px;
    }
    &:hover {
        border-color: $accent-color;
        mat-card-header {
            border-bottom-color: $accent-color;
        }
    }
    ::ng-deep .mat-card-header-text {
        width: 100%;
    }
    .template-info {
        margin-block-start: 12px;
        margin-block-end: 12px;
        mat-label {
            font-weight: 600;
            color: #868686;
        }
        span {
            font-size: 18px;
            border-bottom: 1.5px solid $secondary-color;
        }
    }
    &.disabled {
        pointer-events: none;
        mat-card-header, .template-info span {
            color: $disable-color;
        }

    }
}