<div class="actions-btn-group">
  <div class="left-btn-group">
    <div class="btn" *ngFor="let btn of actionButtons.leftSide; let i = index " [hidden]="btn.visible && !btn.visible(selectedItems || [])">
        <button type="button" mat-icon-button [tabindex]="i" [disabled]="disabled"
              (click)="handleClick(btn.handler)" [title]="btn.title"><mat-icon *ngIf="!btn.svgIcon">{{btn.icon}}</mat-icon><mat-icon *ngIf="btn.svgIcon" [svgIcon]="btn.svgIcon"></mat-icon>
      </button>
    </div>
  </div>
  <div class="right-btn-group">
    <div class="btn" *ngFor="let btn of actionButtons.rightSide; let i = index " [hidden]="btn.visible && !btn.visible(selectedItems || [])">
      <button type="button" mat-icon-button  [tabindex]="i" [disabled]="disabled"
              (click)="handleClick(btn.handler)" [title]="btn.title"><mat-icon *ngIf="!btn.svgIcon">{{btn.icon}}</mat-icon><mat-icon *ngIf="btn.svgIcon" [svgIcon]="btn.svgIcon"></mat-icon>
      </button>
    </div>
  </div>
</div>
