:host {
  width: 100%;
}

.actions-btn-group {
  display: flex;
  justify-content: space-between;
}

.left-btn-group, .right-btn-group {
  display: flex;
  .btn {
    margin-right: 15px;
    &:last-child {
      margin: 0;
    }
  }
}
