<div fxLayout="column" fxLayoutAlign="start stretch">
    <h3 class="step-heading">It's important for your deliverability that everyone you send to has given you explicit
        permission to email them.
        <br> IRMS2020 does not allow purchased or rented lists. Please <a class="with-pointer">read our policy</a> for more details.
    </h3>
    <mat-radio-group [id]="'list'" aria-label="attendees" [formControl]="contactImportListStep.controls['list']" required
        fxLayout="column" fxLayoutAlign="start stretch" id="list" [disabled]="isListPreset">
        <mat-radio-button value="add">Add contacts</mat-radio-button>
        <mat-radio-button value="existing">Add contacts and include in existing list</mat-radio-button>
        <mat-radio-button value="new">Add contacts to a new list</mat-radio-button>
        <mat-radio-button value="eventGuest">Add contacts and include in existing guest list</mat-radio-button>
    </mat-radio-group>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <div *ngIf="contactImportListStep.controls['list'].value === 'new'" fxLayout="column"
            fxLayoutAlign="center start" fxFlex="1 0 auto">
            <irms-input-error [id]="'listName'" [fieldLabel]="'New list name'" [inputControl]="contactImportListStep.controls['listName']"
                [errorRangeText]="'List Name must be between 2 and 100 characters.'" [charactersCount]="100">
            </irms-input-error>
            <mat-error *ngIf="contactImportListStep.get('listName')?.hasError('listNameTaken')" fxFlex="100"
                class="uniqueName">
                Name must be unique
            </mat-error>
        </div>
         <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto"
            *ngIf="contactImportListStep.controls['list'].value === 'eventGuest'">
            <irms-autocomplete [inputControl]="contactImportListStep.controls['eventId']" [label]="'Select event'"
                [data]="eventList" [disabled]="state === 3 || state === 2"></irms-autocomplete>
            <mat-form-field fxFlex="50" appearance="outline">
                <mat-label>
                    Select event guest list
                </mat-label>
                <mat-select [id]="'eventGuestListSelect'" [formControl]="contactImportListStep.controls['eventGuestId']" [disabled]="state === 3">
                    <mat-option *ngFor="let list of eventGuestLists" [value]="list" [disabled]="list.isReadonly">
                        <mat-icon *ngIf="list.isReadonly">lock_filled</mat-icon>
                        <span irmsTextOverflow>{{list.name}}</span>
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <irms-autocomplete *ngIf="contactImportListStep.controls['list'].value === 'existing'"
                [inputControl]="contactImportListStep.controls['listId']" [label]="'Select Contact List'"
                [data]="lists" [disabled]="isListPreset"></irms-autocomplete>
    </div>
    <div fxLayout="row">
        <div class="info-tip" fxLayout="row" fxFlex="60">
            <mat-icon>info</mat-icon>
            <div class="info-text">Need Help? <a class="with-pointer" (click)="loadTemplate()">Download our Excel Template</a> to make sure your Excel is formatted correctly</div>
        </div>
    </div>
    <irms-file-upload-block 
    [label]="'Choose an Excel file or drag and drop it here'"
    [inputControl]="contactImportListStep.controls['excelFile']"
    [maxFileSize]="5"
    [fileTypes]="'.xls, .xlsx'"
    [id]="'uploadExcel'"></irms-file-upload-block>
    <div class="row btn-group" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="1 0 auto" fxFlex="100">
        <div class="btn">
            <button mat-button [routerLink]="['../']" class="secondary2-button" #cancel>Cancel</button>
        </div>
        <div class="btn">
            <button mat-button matStepperNext [disabled]="contactImportListStep.invalid || !isValid"
                class="primary-button" #next>Next</button>
        </div>
    </div>
</div>